<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>norisystem HRM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" th:href="@{/css/assign_new.css?after}" />
  <script type="text/javascript" th:src="@{/js/assign_new.js?after}"></script>
  <script type="text/javascript" src="js/session.js" th:href="@{js/session.js}" ></script>
  <style>
    #wrap {
      min-height: calc(100% - 120px);
    }
    html,
    body {
      height: 100%;
      padding: 0px;
      margin: 0px;
    }
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f5f5f5;
      text-align: center;
      padding: 10px 0;
      z-index: 1000;
    }
    .content {
      margin-bottom: 50px; /* Footer 높이만큼 여백 추가 */
      overflow-y: auto; /* 스크롤이 필요할 때만 스크롤바 표시 */
    }
  </style>
</head>
<body>
<!-- -------------------------------------상단 네비게이션 바------------------------------------- -->
<div th:insert="~{navigation :: navbar}" class="navbar navbar-fixed-top"></div>
<!-- -------------------------------------main 부분------------------------------------- -->
<div><br><br></div>
<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <form id="taskForm" th:action="@{/addTask}" method="post" enctype="multipart/form-data">
        <!-- 과제코드/과제명 -->
        <div class="row" style="">
            <!-- 과제코드 -->
            <div class="col-md-4">
                <div class="input-block">
                    <!-- 자동으로 입력되는 년월일 시분을 표시할 input 필드 -->
                    <input type="text" name="pm_code" id="pm_code" required spellcheck="false"
                    style="background-color: lightgray;" readonly="readonly">
                    <span class="placeholder">과제코드</span>
                </div><br>
            </div>
            <div class="col-md-8">
                <div class="input-block">
                    <input type="text" name="pm_name" id="pm_name" required spellcheck="false" >
                    <span class="placeholder">과제명</span>
                </div><br>
            </div>
        </div>
        <!-- 담당자/부서/과제생성일 -->
        <hr />
        <div class="row" style="padding-top: 15px">      
            <div class="col-md-1" style="text-align: right; vertical-align: middle;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#pm_nori_manager_Modal">
                    <span class="glyphicon glyphicon-user"></span> User
                </button>
            </div>
            <!-- 모달 -->
            <div id="pm_nori_manager_Modal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- 모달 내용 -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">과제 담당자 선택</h4>
                        </div>
                                <div class="modal-body">
                            <!-- 여기에 사업부/부서 선택 select 박스 -->
                            <div class="form-row">
                                 <div class="col_select">
                                    <div class="form-group">
                                        <select id="selectDeptBiz" class="form-control">
                                            <option value="" style="font-weight: bold;">사업부 전체</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col_select">
                                    <div class="form-group">
                                        <select id="selectDeptGroup" class="form-control">
                                            <option value="" style="font-weight: bold;">부서 전체</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <input type="text" id="searchInput_pmamanager" class="form-control" placeholder="검색...">
                            <br>
                            <table class="table table-hover">
                                        <thead>
                                    <tr>
                                        <th></th>
                                        <th>사번</th>
                                        <th>성명</th>
                                        <th>사업부</th>
                                        <th>그룹명</th>
                                        <th>직급</th>
                                        <th>휴대전화</th>
                                        <th>이메일</th>
                                    </tr>
                                        </thead>
                                <tbody id="employeeList_pmmanager">
                                    <!-- 여기에 사원 목록이 들어갈 부분 -->
                                    <tr th:each="employee : ${employees}">
                                        <td></td>
                                        <td th:text="${employee.emp_num}"></td>
                                        <td th:text="${employee.name_kor}"></td>
                                        <td th:text="${employee.dept_biz}"></td>
                                        <td th:text="${employee.dept_group}"></td>
                                        <td th:text="${employee.emp_rank}"></td>
                                        <td th:text="${employee.phone}"></td>
                                        <td th:text="${employee.mail}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="pm_nori_manager" id="pm_nori_manager" required spellcheck="false" style="background-color: lightgray;" readonly="readonly">
                    <span class="placeholder">PL</span>
                </div><br>
            </div>
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_nori_bu" id="pm_nori_bu" required spellcheck="false" style="background-color: lightgray;" readonly="readonly">
                    <span class="placeholder">부서</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-block">
                    <input type="date" name="pm_create_date" id="pm_create_date" required spellcheck="false" >
                    <span class="placeholder">과제생성일</span>
                </div>
            </div>
        </div>
        <!-- 고객사/책임자/부서 -->
        <div class="row" style="">
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_business" id="pm_business" required spellcheck="false" >
                    <span class="placeholder">고객사</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_bu" id="pm_bu" required spellcheck="false" >
                    <span class="placeholder">부서(고객)</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_manager" id="pm_manager" required spellcheck="false" >
                    <span class="placeholder">책임자(고객)</span>
                </div><br>
            </div>
        </div>
        <!-- 공수/정규(명)/파트너(명) -->
        <div class="row" style="">
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_full" id="pm_full" required spellcheck="false" >
                    <span class="placeholder">정규(명)</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_part" id="pm_part" required spellcheck="false" >
                    <span class="placeholder">파트너(명)</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_workload" id="pm_workload" spellcheck="false" 
                     style="background-color: lightgray;" readonly="readonly">
                    <span class="placeholder">공수</span>
                </div><br>
            </div>
        </div>
        <!-- 계약금액 -->
        <div class="row" style="">
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_price" id="pm_price" required spellcheck="false" >
                    <span class="placeholder">계약금액(원)</span>
                </div><br>
            </div>
            <div class="col-md-4" style="visibility:hidden">
                <div class="input-block">
                    <input type="text" name="input-text" id="" spellcheck="false" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-block" style="visibility:hidden">
                    <input type="text" name="input-text" id="" spellcheck="false" >
                </div>
            </div>
        </div>
        <!-- 제안일/시작일/완료일/기간 -->
        <hr />
        <div class="row" style="padding-top: 15px">
            <div class="col-md-3">
                <div class="input-block">
                    <input type="date" name="pm_suggest_date" id="pm_suggest_date" spellcheck="false" >
                    <span class="placeholder">제안일</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="date" name="pm_start_date" id="pm_start_date" spellcheck="false" >
                    <span class="placeholder">시작일</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="date" name="pm_end_date" id="pm_end_date" spellcheck="false" >
                    <span class="placeholder">완료일</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="pm_work_date" id="pm_work_date" spellcheck="false"
                     style="background-color: lightgray;" readonly="readonly">
                    <span class="placeholder">기간(월)</span>
                </div>
            </div>
        </div>
        <!-- 투입예정/확정유무 -->
        <div class="row" style="">
                <div class="input-block" style="font-weight: bold;">
                    <div class="col-md-6 form-group">
                        <select name="pm_status" id="pm_status" class="form-control" required>
                            <option value="상태" disabled selected >상태</option>
                            <option value="제안">제안</option>
                            <option value="실행">실행</option>
                            <option value="완료">완료</option>
                            <option value="대기">대기</option>
                            <option value="취소">취소</option>
                        </select>
                        <span class="placeholder"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <select name="pm_confirmed" id="pm_confirmed" class="form-control" required>
                            <option value="확정유무" disabled selected >확정유무</option>  
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                        <span class="placeholder"></span>
                    </div>
                </div>
        </div>
        <!-- 개발환경 -->
        <hr />
        
        <!-- 기종/OS/언어 -->
        <div class="row" style="padding-top: 15px">
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="dev_model" id="dev_model" required spellcheck="false" >
                    <span class="placeholder">기종</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="os" id="os" required spellcheck="false" >
                    <span class="placeholder">OS</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="language" id="language" required spellcheck="false" >
                    <span class="placeholder">언어</span>
                </div><br>
            </div>
            <div class="col-md-3"></div>
        </div>
        <!-- DBMS/TOOL/WAS -->
        <div class="row">
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="dbms" id="dbms" required spellcheck="false" >
                    <span class="placeholder">DBMS</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="tool" id="tool" required spellcheck="false" >
                    <span class="placeholder">TOOL</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="WAS" id="WAS" required spellcheck="false" >
                    <span class="placeholder">WAS</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="other" id="other" required spellcheck="false" >
                    <span class="placeholder">기타</span>
                </div><br>
            </div>
        </div>
        <!-- 개요 -->
        <hr />
        <div class="row" style="padding-top: 15px">
            <div class="col-md-12">
                <div class="input-block form-group">
                    <label for="pm_outline" class="placeholder">개요 : </label>
                    <textarea class="form-control" rows="5" id="pm_outline"></textarea>
                </div><br>
            </div>
        </div>
<!-- 투입인력정보 -->
<hr />
<div class="row">
    <div class="container">
        <h5 style="font-weight: bold;">투입인력정보</h5>
        <table class="table table-bordered table-hover" style="text-align: center;">
            <thead class="input-block">
                <tr>
                    <th>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="font-weight: bold;">+</button>
                            <button type="button" class="btn btn-danger" id="removeSelectedSawon" style="font-weight: bold;">-</button>
                        </div>
                    </th>
                    <th style="vertical-align: middle;">사번</th>
                    <th style="vertical-align: middle;">성명</th>
                    <th style="vertical-align: middle;">사업부</th>
                    <th style="vertical-align: middle;">그룹명</th>
                    <th style="vertical-align: middle;">직급</th>
                    <th style="vertical-align: middle;">휴대전화</th>
                    <th style="vertical-align: middle;">이메일</th>
                    <th style="vertical-align: middle;">평가</th>
                </tr>
            </thead>
            <tbody id="myTable_sawon">
                <!-- 테이블 행 추가되는 부분 -->
                <tr th:each="employee : ${emp}">
                    <td><input type="checkbox" class="employee-checkbox"></td>
                    <td th:text="${employee.emp_num}"></td>
                    <td th:text="${employee.name_kor}"></td>
                    <td th:text="${employee.dept_biz}"></td>
                    <td th:text="${employee.dept_group}"></td>
                    <td th:text="${employee.emp_rank}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.mail}"></td>
                    <!-- 평가 값 가져와야함 
                    <td th:text="${employee.mail}"></td>
                     -->
            </tbody>
        </table>
    </div>
    <!-- 모달 -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- 모달 내용 -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">사원 선택</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <select id="bizFilter" class="form-control">
                            <option value="">전체</option>
                            <option th:each="deptBiz : ${uniqueDeptBiz}" th:value="${deptBiz}" th:text="${deptBiz}"></option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select id="deptFilter" class="form-control">
                            <option value="">전체</option>
                            <option th:each="deptGroup : ${uniqueDeptGroup}" th:value="${deptGroup}" th:text="${deptGroup}"></option>
                        </select>
                    </div>
                    <div class="col-md-12"><br></div>
                    <div class="col-md-12">
                        <input type="text" id="searchInput" class="form-control" placeholder="검색...">
                    </div>
                    <div class="col-md-12"><br></div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAll"></th>
                                <th>사번</th>
                                <th>성명</th>
                                <th>사업부</th>
                                <th>그룹명</th>
                                <th>직급</th>
                                <th>휴대전화</th>
                                <th>이메일</th>
                            </tr>
                        </thead>
                        <tbody id="employeeList">
                            <!-- 모달 사원 테이블 -->
                            <tr th:each="employee : ${employees}">
                                <td><input type="checkbox"></td>
                                <td th:text="${employee.emp_num}"></td>
                                <td th:text="${employee.name_kor}"></td>
                                <td th:text="${employee.dept_biz}"></td>
                                <td th:text="${employee.dept_group}"></td>
                                <td th:text="${employee.emp_rank}"></td>
                                <td th:text="${employee.phone}"></td>
                                <td th:text="${employee.mail}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 페이징 컨트롤 -->
                    <ul class="pagination" id="pageContent">
                        <!-- 페이징 링크가 여기에 동적으로 추가될 것입니다. -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addSelected">선택 추가</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- 특이사항 -->
        <div class="row" style="padding-top: 15px">
            <div class="col-md-12">
                <div class="input-block form-group">
                    <label for="comment" class="placeholder">특이사항 : </label>
                    <textarea class="form-control" rows="5" id="pm_bego"></textarea>
                </div><br>
            </div>
        </div>
        <!-- 엑셀첨부 -->
        <div class="row" style="padding-top: 15px">
        <div class="col-md-12">
            <h5 style="font-weight: bold;">파일 업로드</h5>
            <table class="table table-bordered table-hover" style="text-align: center;">
                <thead class="input-block">
                    <tr>
                        <th>
                            <div class="btn-group">
                                <button id="addExcelRowButton" type="button" class="btn btn-primary" style="font-weight: bold;">+</button>
                                <button id="deleteExcelRowButton" type="button" class="btn btn-danger" style="font-weight: bold;">-</button>
                            </div>
                        </th>
                        <th>엑셀 파일</th>
                    </tr>
                </thead>
                <tbody id="myTable_excel">
                    <tr>
                        <td><input type="radio" name="tableSelect_excel" value="myTable_excel"></td>
                        <td class="input-block form-group">
                            <input type="file" class="form-control-file" id="pm_file" name="fileUpload">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <!-- 저장 -->
        <div class="row" style="padding-bottom: 50px; padding-top: 20px; display: flex; justify-content: center;">
            <a th:href="@{/assign}" style="text-align: center;" class="btn btn-default" th:text="취소"></a>
            <a id="saveButton" style="text-align: center;" class="btn btn-default">저장</a>
        </div>
    </form>
</div>

</body>

<!-- footer -->
<div class="content" style="padding-top: 100px">
    <div th:replace="footer :: footer"></div>
</div>
<script th:inline="javascript">
    var employees_pmmanager = /*[[${employees}]]*/ [];
    var uniqueDeptBiz = /*[[${uniqueDeptBiz}]]*/ [];
    var uniqueDeptGroup = /*[[${uniqueDeptGroup}]]*/ [];

    var employees_input = /*[[${employees}]]*/ [];
    var uniqueDeptBiz_input = /*[[${uniqueDeptBiz}]]*/ [];
    var uniqueDeptGroup_input = /*[[${uniqueDeptGroup}]]*/ [];
</script>

</body>
</html>