<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>norisystem HRM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/session.js" th:href="@{js/session.js}" ></script>
  <!-- 
  <link rel="stylesheet" th:href="@{css/assign_update.css}" />
  <script type="text/javascript" th:src="@{js/assign_update.js}"></script>
   -->
  <style>
    #wrap {
      min-height: calc(100% - 120px);
    }
    html,
    body {
      height: 100%;
      padding: 0px;
      margin: 0px;
    }
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f5f5f5;
      text-align: center;
      padding: 10px 0;
      z-index: 1000;
    }
    .content {
      margin-bottom: 50px; /* Footer 높이만큼 여백 추가 */
      overflow-y: auto; /* 스크롤이 필요할 때만 스크롤바 표시 */
    }
    /* 모달 너비를 조정하는 CSS */
    .modal-lg {
      width: 80%; /* 모달 너비를 80%로 조정 */
    }
    /* 드롭다운 너비 조정 */
    .select-width {
      max-width: 150px; /* 드롭다운의 최대 너비를 지정 */
    }
    
    
.btn-group {
     display: flex;
     justify-content: center;
        
 }
.btn-group .btn {
    font-weight: bold;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
  width: auto;
}

/* Set black background color, white text and some padding */
footer {
  text-align: center; 
  padding-bottom: 0;
  background-color: #e6e6e6ce;
  color: black;
  bottom:-100px;
  width: 100%;
  height: 60px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

table {
  text-align: center;
  border: 2px solidd lightsteelblue;
}

th {
  /* font-size: bold; */
  text-align: center;
  border: 2px solidd lightsteelblue;
}

td {
  border: 2px solidd lightsteelblue;
  text-align: center;
}

div.input-block {
  position: relative;
  
}
div.input-block input {
  vertical-align: middle;
  font-weight: 400;
  font-size: 1.4rem;
  color: #495055;
  width: 100%;
  padding: 5px 5px;
  border-radius: 1rem;
  border: 2px solid lightsteelblue;
  outline:none;
  height: 35px;
  font-weight: bold;
  padding-left: 20px;
}
div.input-block span.placeholder {
  margin-left: 20px;
  vertical-align: middle;
  position: absolute;
  margin: 7px 0;
  padding: 0 4px;
  font-family: Roboto, sans-serif;
  color:  #6c757d;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  top: 0;
  left: 17px;
  transition: all 0.4s;
  transform-origin: 0% 0%;
  background: none;
  pointer-events: none;
}

    #pm_nori_bu:valid + span.placeholder,
    #pm_nori_bu:focus + span.placeholder, 
    #pm_create_date:valid + span.placeholder,
    #pm_create_date:focus + span.placeholder, 
    #pm_manager:valid + span.placeholder,
    #pm_manager:focus + span.placeholder,
    #pm_price:valid + span.placeholder,
    #pm_price:focus + span.placeholder {
  font:italic;
  transform: scale(1.0) translateX(230px);
  font-style: italic; /* 입력시 기울기기 글꼴 */
}

    #pm_part:valid + span.placeholder,
    #pm_part:focus + span.placeholder,
    #pm_bu:valid + span.placeholder,
    #pm_bu:focus + span.placeholder {
  font:italic;
  transform: scale(1.0) translateX(250px);
  font-style: italic; /* 입력시 기울기기 글꼴 */
}

    #pm_full:valid + span.placeholder,
    #pm_full:focus + span.placeholder {
  font:italic;
  transform: scale(1.0) translateX(260px);
  font-style: italic; /* 입력시 기울기기 글꼴 */
}

    #pm_business:valid + span.placeholder,
    #pm_business:focus + span.placeholder {
  font:italic;
  transform: scale(1.0) translateX(270px);
  font-style: italic; /* 입력시 기울기기 글꼴 */
}
    
    #pm_suggest_date:valid + span.placeholder,
    #pm_suggest_date:focus + span.placeholder,
    #pm_start_date:valid + span.placeholder,
    #pm_start_date:focus + span.placeholder,
    #pm_end_date:valid + span.placeholder,
    #pm_end_date:focus + span.placeholder, 
    #dev_model:valid + span.placeholder,
    #dev_model:focus + span.placeholder, 
    #os:valid + span.placeholder,
    #os:focus + span.placeholder, 
    #language:valid + span.placeholder,
    #language:focus + span.placeholder, 
    #dbms:valid + span.placeholder,
    #dbms:focus + span.placeholder, 
    #tool:valid + span.placeholder,
    #tool:focus + span.placeholder, 
    #WAS:valid + span.placeholder,
    #WAS:focus + span.placeholder, 
    #other:valid + span.placeholder,
    #other:focus + span.placeholder {
  font:italic;
  transform: scale(1.0) translateX(160px);
  font-style: italic; /* 입력시 기울기기 글꼴 */
}

    /* pm_code에 대한 개별 스타일링 */
    #pm_code:not(:placeholder-shown) + span.placeholder,
    #pm_code:focus + span.placeholder{
      transform: scale(1.0) translateX(260px);
      font-style: italic; /* 입력시 기울기기 글꼴 */
    }
    
    /* pm_name에 대한 개별 스타일링 */
    #pm_name:not(:placeholder-shown) + span.placeholder,
    #pm_name:focus + span.placeholder {
      transform: scale(1.0) translateX(660px);
      font-style: italic; /* 입력시 기울기기 글꼴 */
    }
    
    /* pm_work_date에 대한 개별 스타일링 */
    #pm_work_date:not(:placeholder-shown) + span.placeholder,
    #pm_work_date:focus + span.placeholder {
      transform: scale(1.0) translateX(160px);
      font-style: italic; /* 입력시 기울기기 글꼴 */
    }

    /* pm_nori_manager에 대한 개별 스타일링 */
    #pm_nori_manager:not(:placeholder-shown) + span.placeholder,
    #pm_nori_manager:focus + span.placeholder {
      transform: scale(1.0) translateX(180px);
      font-style: italic;
    }
     
    /* pm_nori_bu와 pm_workload에 대한 개별 스타일링 */
    #pm_nori_bu:not(:placeholder-shown) + span.placeholder,
    #pm_nori_bu:focus + span.placeholder, 
    #pm_workload:not(:placeholder-shown) + span.placeholder,
    #pm_workload:focus + span.placeholder {
      transform: scale(1.0) translateX(290px);
      font-style: italic;
    }
    
div.input-block input:focus{
  color: #284B63;
  border-color:lightsteelblue;;
}
div.input-block input:focus + span.placeholder {
  color: #284B63;
}
div.input-block select {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 5px 5px;
  border-radius: 1rem;
  border: 2px solid lightsteelblue;
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.input-block select:focus + span.placeholder {
  display: none;
}

.scrollable {

overflow-y: auto; /* 세로 스크롤 활성화 */
padding-bottom: 20px;    
}
</style>
<script th:inline="javascript">
    var employees_pmmanager = /*[[${employees}]]*/ [];
    var uniqueDeptBiz = /*[[${uniqueDeptBiz}]]*/ [];
    var uniqueDeptGroup = /*[[${uniqueDeptGroup}]]*/ [];
</script>
<script type="text/javascript">
function getCurrentDateTime() {
    var currentDate = new Date();

    // 년, 월, 일, 시, 분을 각각 가져옴
    var year = currentDate.getFullYear();
    var month = padZero(currentDate.getMonth() + 1);
    var day = padZero(currentDate.getDate());
    var hours = padZero(currentDate.getHours());
    var minutes = padZero(currentDate.getMinutes());

    // 년월일 시분을 숫자로 나타내기 위해 연결
    var formattedDateTime = '' + year + month + day + hours + minutes;

    return formattedDateTime;
}

// 숫자가 한 자리일 때 앞에 0을 붙이는 함수
function padZero(num) {
    return (num < 10 ? '0' : '') + num;
}

// 입력 필드에 현재 날짜 및 시간 설정
document.getElementById

/////////////////////////////////////공수///////////////////////////////////////////////
$(document).ready(function(){
    var pmFullInput = document.getElementById("pm_full");
    var pmPartInput = document.getElementById("pm_part");
    var pmWorkloadInput = document.getElementById("pm_workload");

    function calculateWorkload() {
        var pmFullValue = parseFloat(pmFullInput.value) || 0;
        var pmPartValue = parseFloat(pmPartInput.value) || 0;
        var workload = pmFullValue + pmPartValue;
        pmWorkloadInput.value = workload;
    }

    if (pmFullInput && pmPartInput && pmWorkloadInput) {
        // 초기값 설정
        calculateWorkload();

        // 값 변경 이벤트에 대한 리스너 추가
        pmFullInput.addEventListener("input", calculateWorkload);
        pmPartInput.addEventListener("input", calculateWorkload);
    }
});
</script>
<script type="text/javascript">
    var addedEmployees = [];

    /////////////////////////////////////담당자 모달창///////////////////////////////////////////////
    $(document).ready(function(){
       console.log("모달 오픈");
        var selectedEmployeeData_pmmanager = {}; // 선택된 사원 데이터를 저장할 객체
        console.log("uniqueDeptBiz: ", uniqueDeptBiz);
        console.log("uniqueDeptGroup: ", uniqueDeptGroup);

        // 사업부와 부서 select 박스 옵션 추가
        uniqueDeptBiz.forEach(function(dept) {
            $("#selectDeptBiz").append(new Option(dept, dept));
        });
      
        uniqueDeptGroup.forEach(function(group) {
            $("#selectDeptGroup").append(new Option(group, group));
        });
    
        // 검색 필터
        $("#searchInput_pmamanager").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#employeeList_pmmanager tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    
        // 사업부 및 부서 선택 필터링
        $("#selectDeptBiz, #selectDeptGroup").on("change", function() {
            var selectedDeptBiz = $("#selectDeptBiz").val().toLowerCase();
            var selectedDeptGroup = $("#selectDeptGroup").val().toLowerCase();
            $("#employeeList_pmmanager tr").each(function() {
                var bizMatch = selectedDeptBiz ? $(this).find("td").eq(3).text().toLowerCase() === selectedDeptBiz : true;
                var groupMatch = selectedDeptGroup ? $(this).find("td").eq(4).text().toLowerCase() === selectedDeptGroup : true;
                $(this).toggle(bizMatch && groupMatch);
            });
        });
    
        // #selectDeptBiz 값이 변경될 때 #selectDeptGroup의 선택값 초기화 및 필터링 재적용
        $("#selectDeptBiz").on("change", function() {
            $("#selectDeptGroup").val(""); // #selectDeptGroup의 선택값 초기화
        
            var selectedDeptBiz = $(this).val().toLowerCase();
            var selectedDeptGroup = $("#selectDeptGroup").val().toLowerCase();
            $("#employeeList_pmmanager tr").each(function() {
                var bizMatch = selectedDeptBiz ? $(this).find("td").eq(3).text().toLowerCase() === selectedDeptBiz : true;
                var groupMatch = selectedDeptGroup ? $(this).find("td").eq(4).text().toLowerCase() === selectedDeptGroup : true;
                $(this).toggle(bizMatch && groupMatch);
            });
        });

        //#selectDeptGroup 값이 변경될 때 필터링 적용
        $("#selectDeptGroup").on("change", function() {
            var selectedDeptBiz = $("#selectDeptBiz").val().toLowerCase();
            var selectedDeptGroup = $(this).val().toLowerCase();
            $("#employeeList_pmmanager tr").each(function() {
                var bizMatch = selectedDeptBiz ? $(this).find("td").eq(3).text().toLowerCase() === selectedDeptBiz : true;
                var groupMatch = selectedDeptGroup ? $(this).find("td").eq(4).text().toLowerCase() === selectedDeptGroup : true;
                $(this).toggle(bizMatch && groupMatch);
            });
        });
    
        // #selectDeptGroup 값이 변경될 때 사업부에 따라 선택 가능한 부서만 보이도록 설정
        $("#selectDeptBiz").on("change", function() {
            var selectedDeptBiz = $(this).val().toLowerCase();
            
            // 모든 부서 옵션 숨기기
            $("#selectDeptGroup option").hide();
        
            // 선택된 사업부에 해당하는 부서 옵션 보이기
            $("#employeeList_pmmanager tr").each(function() {
                var deptBiz = $(this).find("td").eq(3).text().toLowerCase();
                var deptGroup = $(this).find("td").eq(4).text();
                if (deptBiz === selectedDeptBiz) {
                    $("#selectDeptGroup option[value='" + deptGroup + "']").show();
                }
            });
        
            // 부서 선택 초기화
            $("#selectDeptGroup").val("");
        });
        
        $(document).on("show.bs.modal", "#pm_nori_manager_Modal", function(){
            // 사원 목록을 순회하면서 클릭 이벤트를 바인딩합니다.
            $("#employeeList_pmmanager").find("tr").each(function(){
                var row_pmmanager = $(this);
                console.log("행 클릭됨");
        
                row_pmmanager.off("click"); // 기존 이벤트 핸들러 제거
                row_pmmanager.on("click", function(){
                    // 현재 선택된 행을 강조 표시하기 위해 이전에 선택된 행의 강조 표시를 제거합니다.
                    $("#employeeList_pmmanager tr.selected").removeClass("selected");
                    row_pmmanager.addClass("selected"); // 현재 행에 선택 클래스 추가
        
                    // 클릭한 행에서 각 셀의 정보 가져오기
                    var columns_pm = row_pmmanager.find("td");
                    var name_pm = columns_pm.eq(2).text(); // 담당자 이름
                    var dept_pm = columns_pm.eq(3).text(); // 부서
                    
                    console.log("담당자 이름:", name_pm);
                    console.log("부서:", dept_pm);
        
                    // 선택된 사원 데이터를 selectedEmployeeData_pmmanager 변수에 저장
                    selectedEmployeeData_pmmanager.name = name_pm; // 담당자 이름 저장
                    selectedEmployeeData_pmmanager.dept = dept_pm; // 부서 저장
                    
                    // 가져온 사원 정보를 입력란에 표시
                    $("#pm_nori_manager").val(selectedEmployeeData_pmmanager.name); // 담당자 이름
                    $("#pm_nori_bu").val(selectedEmployeeData_pmmanager.dept); // 부서
        
                   
                    // 모달을 닫음
                    $("#pm_nori_manager_Modal").modal("hide");
                });
            });
        });
        // 모달이 닫힐 때 선택된 행의 강조 표시를 제거하지만 입력된 데이터는 초기화하지 않습니다.
        $("#pm_nori_manager_Modal").on("hidden.bs.modal", function(){
            $("#employeeList_pmmanager tr.selected").removeClass("selected");
            // 입력된 데이터 초기화를 하지 않습니다.
        });
    });
/////////////////////////////////////투입인력정보 모달창/사업부,부서 필터링///////////////////////////////////////////////
$(document).ready(function(){
//부서 정보 추출
var deptOptions = {};
$("#employeeList tr").each(function(){
var dept = $(this).find("td:eq(3)").text(); // 부서 정보 추출
deptOptions[dept] = true; // 중복 제거를 위해 객체의 속성으로 저장
});

//부서 필터 select 요소에 옵션 추가
var deptFilter = $("#deptFilter");
for (var dept in deptOptions) {
if (deptOptions.hasOwnProperty(dept)) {
$("<option>").val(dept).text(dept).appendTo(deptFilter);
}
}


//필터링 옵션 변경
$('#deptFilter').change(function() {
var selectedDept = $(this).val();
if (selectedDept !== '') {
$("#employeeList tr").each(function() {
var dept = $(this).find("td:eq(3)").text(); // 각 행의 부서 정보 추출
if (dept !== selectedDept) {
$(this).hide(); // 선택된 부서가 아닌 행 숨기기
} else {
$(this).show(); // 선택된 부서와 일치하는 행 표시
}
});
} else {
$("#employeeList tr").show(); // 전체를 선택한 경우 모든 행 표시
}
});

/////////////////////////시작일 완료일 개월수계산
//시작일과 완료일 입력란의 변경 이벤트를 감지하여 기간을 자동으로 계산 (월 단위)
$("#pm_start_date, #pm_end_date").on("change", function() {
var startDate = new Date($("#pm_start_date").val()); // 시작일
var endDate = new Date($("#pm_end_date").val()); // 완료일

// 시작일과 완료일이 모두 유효한 경우에만 기간을 계산하고 입력란에 표시
if (!isNaN(startDate.getTime()) && !isNaN(endDate.getTime())) {
var diffMonths = (endDate.getFullYear() - startDate.getFullYear()) * 12;
diffMonths -= startDate.getMonth();
diffMonths += endDate.getMonth();

// 기간 입력란에 계산된 기간을 표시
$("#pm_work_date").val(diffMonths);
} else {
// 시작일 또는 완료일이 유효하지 않은 경우 기간 입력란을 비움
$("#pm_work_date").val("");
}
});
});
/////////////////////////////////////엑셀파일 추가///////////////////////////////////////////////////
$(document).ready(function(){
// + 버튼에 이벤트 처리 함수 연결
$("#addExcelRowButton").click(function() {
addTableRowExel('myTable_excel', 'tableSelect_excel');
});

// - 버튼에 이벤트 처리 함수 연결
$("#deleteExcelRowButton").click(function() {
deleteTableRowExel('myTable_excel');
});

//엑셀파일 +/-
function addTableRowExel(tableID, radioGroupName) {
console.log("addTableRowExel 실행됨")
var table_excel = document.getElementById(tableID);

// 새로운 행 생성
var newRow_excel = table_excel.insertRow();

// 첫 번째 셀에 라디오 버튼 추가
var cell1_excel = newRow_excel.insertCell(0);
var radioInput = document.createElement("input");
radioInput.type = "radio";
radioInput.name = radioGroupName;
cell1_excel.appendChild(radioInput);

// 두 번째 셀에 파일 선택 input 추가
var cell2_excel = newRow_excel.insertCell(1);
var fileInput_excel = document.createElement("input");
fileInput_excel.type = "file";
fileInput_excel.className = "form-control-file";
cell2_excel.appendChild(fileInput_excel);
}

//엑셀 테이블 행 삭제 함수
function deleteTableRowExel(tableID) {
var table_excel = document.getElementById(tableID);
var rowCount_excel = table_excel.rows.length;

// 테이블의 각 행을 확인하여 체크된 라디오 버튼이 있는지 검사하고 삭제
for (var i = 0; i < rowCount_excel; i++) {
var row_excel = table_excel.rows[i];
var radioInput = row_excel.cells[0].querySelector("input[type='radio']");
if (radioInput.checked) {
table_excel.deleteRow(i);
rowCount_excel--;
i--;
}
}
}
});


/////////////////////////////////////투입인력정보 모달창///////////////////////////////////////////////
$(document).ready(function(){
    var employees = /*[[${employees}]]*/ []; // 타임리프를 통해 employees 데이터를 가져옴
    var bizSet = new Set(); // 중복을 제거하기 위한 Set 생성
    var deptSet = new Set(); // 중복을 제거하기 위한 Set 생성

    // 검색 기능
    $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#employeeList tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

    // employees 리스트를 순회하며 dept_biz 값 추출하여 Set에 추가
    employees.forEach(function(employee) {
        bizSet.add(employee.dept_biz);
    });

    // Set에서 값을 꺼내어 option 요소 생성
    bizSet.forEach(function(biz) {
        var option = document.createElement("option");
        option.value = biz;
        option.text = biz;
        document.getElementById("bizFilter").appendChild(option);
    });

    // 사업부 필터링 시 부서 옵션 업데이트
    $("#bizFilter").change(function(){
        var selectedBiz = $(this).val();
        deptSet.clear();
        $("#deptFilter").empty().append('<option value="">전체</option>');
        $("#employeeList tr").each(function(){
            var row = $(this);
            var biz = row.find("td:eq(3)").text();
            if (biz === selectedBiz || selectedBiz === "") {
                var dept = row.find("td:eq(4)").text();
                deptSet.add(dept);
            }
        });
        deptSet.forEach(function(dept) {
            var option = document.createElement("option");
            option.value = dept;
            option.text = dept;
            document.getElementById("deptFilter").appendChild(option);
        });
        filterEmployees();
    });

    // 부서 필터링 시 사원 목록 업데이트
    $("#deptFilter").change(function(){
        filterEmployees();
    });

    // 필터링 함수
    function filterEmployees() {
        var selectedBiz = $("#bizFilter").val();
        var selectedDept = $("#deptFilter").val();
        $("#employeeList tr").each(function(){
            var row = $(this);
            var biz = row.find("td:eq(3)").text();
            var dept = row.find("td:eq(4)").text();
            if ((biz === selectedBiz || selectedBiz === "") && (dept === selectedDept || selectedDept === "")) {
                row.show();
            } else {
                row.hide();
            }
        });
    }

    // 이미 추가된 사원들의 사번을 기억하는 배열
    var addedEmployeeIds = [];

// 선택한 사원을 추가하는 함수
function addSelectedEmployees() {
    var selectedEmployees = [];
    var duplicateDetected = false;

    // 기존에 추가된 사원들의 사번을 배열에 추가합니다.
    $("#employeeList input[type='checkbox']:checked").each(function(){
        var row = $(this).closest("tr");
        var columns = row.find("td");
        var employeeData = [];
        columns.each(function(){
            employeeData.push($(this).text());
        });

        var id = employeeData[1]; // 사번을 기준으로 중복 여부 확인
        if (addedEmployeeIds.includes(id)) {
            duplicateDetected = true;
        } else {
            selectedEmployees.push(employeeData);
            addedEmployeeIds.push(id); // 추가된 사원의 사번을 배열에 추가
        }
    });

        // 테이블에 선택한 사원들을 추가합니다.
        var table = $("#myTable_sawon");
        $.each(selectedEmployees, function(index, value){
            var newRow = $("<tr>");
            // 첫 번째 셀에만 체크박스 추가
            $("<td>").html("<input type='checkbox' class='employee-checkbox'>").appendTo(newRow);
            $.each(value.slice(1), function(i, val){
                // 나머지 셀 추가
                $("<td>").html(val).appendTo(newRow);
            });
            
            // 아이콘을 포함한 span 요소 생성
            var evaluateButton = $("<span>").addClass("glyphicon glyphicon-question-sign evaluate-btn").attr("aria-hidden", "true");
        
            // 평가 버튼 추가
            var buttonCell = $("<td>").append(evaluateButton); // 버튼을 담을 셀
            newRow.append(buttonCell); // 행에 셀 추가
        
            newRow.appendTo(table);
            console.log("addedEmployeeIds = "+addedEmployeeIds);
            // 평가 버튼 클릭 이벤트
            evaluateButton.click(function() {
                var employeeName = $(this).closest("tr").find("td:eq(2)").text(); // 해당 행의 사원 이름 가져오기
                var employeeId = $(this).closest("tr").find("td:eq(1)").text(); // 해당 행의 사원 ID 가져오기
                openEvaluationModal(employeeName, employeeId); // 모달 열기 함수 호출
            });
        });
        // 모달 열기 함수
        function openEvaluationModal(employeeName, employeeId) {
            // 평가할 사원의 이름과 ID를 모달에 설정
            $("#employeeName").text(employeeName);
            // 여기에서 다른 필요한 정보도 모달에 설정할 수 있습니다.
            // 모달을 열기
            $("#evaluationModal").modal("show");
        }
        // 모달을 닫습니다.
        $("#myModal").modal("hide");
    }

    // '선택 추가' 버튼 클릭 시 선택된 사원을 테이블에 추가합니다.
    $("#addSelected").click(function(){
        addSelectedEmployees();
    });

    // 필터로 걸러진 사원만 전체 선택
    $('#selectAll').change(function() {
        var isChecked = $(this).prop('checked');
        $('#employeeList tr:visible input[type="checkbox"]').prop('checked', isChecked);
    });
    
    // removeSelectedSawon 버튼 클릭 시 선택된 사원 삭제
    $("#removeSelectedSawon").click(function(){
        $("#myTable_sawon input[type='checkbox']:checked").each(function(){
            var row = $(this).closest("tr");
            var id = row.find("td:eq(1)").text(); // 사번을 기준으로 삭제
            // 삭제 함수 호출
            removeAddedEmployee(id);
            // 행 삭제
            row.remove();
        });
    });

    // 추가된 사원 삭제 함수
    function removeAddedEmployee(employeeId) {
        // addedEmployees 배열에서 해당 사원의 인덱스를 찾습니다.
        var index = addedEmployees.indexOf(employeeId);
        if (index !== -1) {
            // 배열에서 해당 인덱스의 요소를 제거합니다.
            addedEmployees.splice(index, 1);
        }
    }

    //////////////////////////////////////////////
    //select 박스 선택시 미리보기 안보이게
    $('select').on('mousedown', function() {
        $(this).siblings('.placeholder').css('display', 'none');
    });


    var addedEmployeeIds = []; // addedEmployeeIds 배열 선언

    // 저장 버튼에 이벤트 처리 함수 연결
    $("#updateButton").click(function(event) {
        event.preventDefault();
        updateDataToServer();
    });

    // 저장 함수 정의
    function updateDataToServer() {
        // 각 입력 필드의 값 확인
        var pm_code = $('#pm_code').val();
        var pm_name = $('#pm_name').val();
        var pm_nori_manager = $('#pm_nori_manager').val();
        var pm_nori_bu = $('#pm_nori_bu').val();
        var pm_create_date = $('#pm_create_date').val();
        var pm_manager = $('#pm_manager').val();
        var pm_bu = $('#pm_bu').val();
        var pm_business = $('#pm_business').val();
        var pm_price = $('#pm_price').val();
        var pm_workload = $('#pm_workload').val();
        var pm_full = $('#pm_full').val();
        var pm_part = $('#pm_part').val();
        var pm_suggest_date = $('#pm_suggest_date').val();
        var pm_start_date = $('#pm_start_date').val();
        var pm_end_date = $('#pm_end_date').val();
        var pm_work_date = $('#pm_work_date').val();
        var pm_status = $('#pm_status option:selected').val();
        var pm_outline = $('#pm_outline').val();
        var pm_bego = $('#pm_bego').val();
        var pm_confirmed = $('#pm_confirmed option:selected').val();

        // 폼 데이터를 객체로 생성
        var tabledata = {
            pm_code: pm_code,
            pm_name: pm_name,
            pm_nori_manager: pm_nori_manager,
            pm_nori_bu: pm_nori_bu,
            pm_create_date: pm_create_date,
            pm_manager: pm_manager,
            pm_bu: pm_bu,
            pm_business: pm_business,
            pm_price: pm_price,
            pm_workload: pm_workload,
            pm_full: pm_full,
            pm_part: pm_part,
            pm_suggest_date: pm_suggest_date,
            pm_start_date: pm_start_date,
            pm_end_date: pm_end_date,
            pm_work_date: pm_work_date,
            pm_status: pm_status,
            pm_outline: pm_outline,
            pm_bego: pm_bego,
            pm_confirmed: pm_confirmed,
            emp_num: addedEmployeeIds  // TaskManagementModel의 컬럼명과 같아야함
        };
        

        // 콘솔 로그 출력 후 데이터 전송
        console.log("TableData: ", tabledata);

        // Ajax를 이용하여 서버로 데이터 전송
        $.ajax({
            url: '/updateTask',
            type: 'POST',
            data: JSON.stringify(tabledata),
            contentType: 'application/json',
            success: function(response) {
                // 성공적으로 저장되었을 때의 동작
                console.log('데이터가 성공적으로 서버에 전송되었습니다.');
                window.location.href = '/assign';
            },
            error: function(xhr, status, error) {
                // 에러 발생 시의 동작
                console.error('데이터 전송 중 오류가 발생했습니다:', error);
                console.log('XHR:', xhr);
                console.log('Status:', status);
                console.log('Error:', error);
            }
        });
    }
});
</script>
</head>
<body>
<!-- -------------------------------------상단 네비게이션 바------------------------------------- -->
<div th:insert="~{navigation :: navbar}" class="navbar navbar-fixed-top"></div>
<!-- -------------------------------------main 부분------------------------------------- -->
<div><br><br></div>
<div class="container" style="padding-top: 50px; padding-bottom: 50px;">
    <form id="updateTaskForm" th:action="@{/updateTask}" method="post" enctype="multipart/form-data">
        <!-- 과제코드/과제명 -->
        <div class="row" style="">
            <!-- 과제코드 -->
            <div class="col-md-4">
                <div class="input-block">
                    <!-- 자동으로 입력되는 년월일 시분을 표시할 input 필드 -->
                    <input type="text" name="pm_code" id="pm_code" required spellcheck="false" 
                           th:value="${tasks_id != null and not #lists.isEmpty(tasks_id) ? tasks_id[0].pm_code : ''}"
                           style="background-color: lightgray;" readonly="readonly">
                    <span class="placeholder">과제코드</span>
                </div><br>
            </div>
            <!-- 과제명 -->
            <div class="col-md-8">
                <div class="input-block">
                    <input type="text" name="pm_name" id="pm_name" required spellcheck="false" 
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_name : ''}">
                    <span class="placeholder">과제명</span>
                </div><br>
            </div>
        </div>
        <!-- 담당자/부서/과제생성일 -->
        <hr />
        <div class="row" style="padding-top: 15px">      
            <div class="col-md-1" style="text-align: right; vertical-align: middle;">
                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#pm_nori_manager_Modal">
                    <span class="glyphicon glyphicon-user"></span> User
                </button>
            </div>
            <!-- 모달 -->
            <div id="pm_nori_manager_Modal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- 모달 내용 -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">과제 담당자 선택</h4>
                        </div>
                                <div class="modal-body">
                            <!-- 여기에 사업부/부서 선택 select 박스 -->
                            <div class="form-row">
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <select id="selectDeptBiz" class="form-control">
                                            <option value="" style="font-weight: bold;">사업부 전체</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select id="selectDeptGroup" class="form-control">
                                            <option value="" style="font-weight: bold;">부서 전체</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="text" id="searchInput_pmamanager" class="form-control" placeholder="검색...">
                                <br>
                            </div>
                            <table class="table table-hover">
                                        <thead>
                                    <tr>
                                        <th></th>
                                        <th>사번</th>
                                        <th>성명</th>
                                        <th>사업부</th>
                                        <th>그룹명</th>
                                        <th>직급</th>
                                        <th>휴대전화</th>
                                        <th>이메일</th>
                                    </tr>
                                        </thead>
                                <tbody id="employeeList_pmmanager">
                                    <!-- 여기에 사원 목록이 들어갈 부분 -->
                                    <tr th:each="employee : ${employees}">
                                        <td></td>
                                        <td th:text="${employee.emp_num}"></td>
                                        <td th:text="${employee.name_kor}"></td>
                                        <td th:text="${employee.dept_biz}"></td>
                                        <td th:text="${employee.dept_group}"></td>
                                        <td th:text="${employee.emp_rank}"></td>
                                        <td th:text="${employee.phone}"></td>
                                        <td th:text="${employee.mail}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 담당자  -->
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="pm_nori_manager" id="pm_nori_manager" spellcheck="false" 
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_nori_manager : ''}"
                    style="background-color: lightgray;" readonly="readonly">
                    <span class="placeholder">담당자</span>
                </div><br>
            </div>
            <!-- 부서  -->
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_nori_bu" id="pm_nori_bu" spellcheck="false" 
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_nori_bu : ''}"
                    style="background-color: lightgray;" readonly="readonly">
                    <span class="placeholder">부서</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-block">
                    <input type="date" name="pm_create_date" id="pm_create_date" spellcheck="false" 
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_create_date : ''}" >
                    <span class="placeholder">과제생성일</span>
                </div>
            </div>
        </div>
        <!-- 책임자/부서/고객사 -->
        <div class="row" style="">
            <!-- 책임자 -->
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_manager" id="pm_manager" required spellcheck="false"
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_manager : ''}">
                    <span class="placeholder">책임자(고객)</span>
                </div><br>
            </div>
            <!-- 부서 -->
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_bu" id="pm_bu" required spellcheck="false"
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_bu : ''}">
                    <span class="placeholder">부서(고객)</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_business" id="pm_business" required spellcheck="false"
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_business : ''}">
                    <span class="placeholder">고객사</span>
                </div>
            </div>
        </div>
        <!-- 공수/정규(명)/파트너(명) -->
        <div class="row" style="">
            <!-- 정규 -->
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_full" id="pm_full" required spellcheck="false"
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_full : ''}">
                    <span class="placeholder">정규(명)</span>
                </div>
            </div>
            <!-- 파트너 -->
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_part" id="pm_part" required spellcheck="false"
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_part : ''}">
                    <span class="placeholder">파트너(명)</span>
                </div>
            </div>
            <!-- 공수 -->
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_workload" id="pm_workload" spellcheck="false"
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_workload : ''}" readonly
                    style="background-color: lightgray;">
                    <span class="placeholder">공수</span>
                </div><br>
            </div>
        </div>
        <!-- 계약금액 -->
        <div class="row" style="">
            <!-- 계약금액 -->
            <div class="col-md-4">
                <div class="input-block">
                    <input type="text" name="pm_price" id="pm_price" required spellcheck="false"
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_price : ''}">
                    <span class="placeholder">계약금액(원)</span>
                </div><br>
            </div>
            <div class="col-md-4" style="visibility:hidden">
                <div class="input-block">
                    <input type="text" name="input-text" id="" spellcheck="false" >
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-block" style="visibility:hidden">
                    <input type="text" name="input-text" id="" spellcheck="false" >
                </div>
            </div>
        </div>
        <!-- 제안일/시작일/완료일/기간 -->
        <hr />
        <div class="row" style="padding-top: 15px">
            <div class="col-md-3">
                <div class="input-block">
                    <input type="date" name="pm_suggest_date" id="pm_suggest_date" spellcheck="false" 
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_suggest_date : ''}">
                    <span class="placeholder">제안일</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="date" name="pm_start_date" id="pm_start_date" spellcheck="false" 
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_start_date : ''}">
                    <span class="placeholder">시작일</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="date" name="pm_end_date" id="pm_end_date" spellcheck="false" 
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_end_date : ''}">
                    <span class="placeholder">완료일</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="pm_work_date" id="pm_work_date" spellcheck="false" 
                    th:value="${tasks_id != null ? tasks_id.get(0).pm_work_date : ''}" readonly
                    style="background-color: lightgray;">
                    <span class="placeholder">기간(월)</span>
                </div>
            </div>
        </div>
<!-- 투입예정/확정유무 -->
<div class="row" style="">
    <div class="input-block">
        <div class="col-md-6 form-group">
            <select name="pm_status" id="pm_status" class="form-control" required>
                <option value="상태" disabled selected >상태</option>
                <option value="제안" th:selected="${tasks_id != null and tasks_id[0].pm_status == '제안'}">제안</option>
                <option value="실행" th:selected="${tasks_id != null and tasks_id[0].pm_status == '실행'}">실행</option>
                <option value="완료" th:selected="${tasks_id != null and tasks_id[0].pm_status == '완료'}">완료</option>
                <option value="대기" th:selected="${tasks_id != null and tasks_id[0].pm_status == '대기'}">대기</option>
                <option value="취소" th:selected="${tasks_id != null and tasks_id[0].pm_status == '취소'}">취소</option>
            </select>
            <span class="placeholder"></span>
        </div>
        <div class="col-md-6 form-group">
            <select name="pm_confirmed" id="pm_confirmed" class="form-control" required>
                <option value="확정유무" disabled>확정유무</option>
                <option value="Y" th:selected="${tasks_id != null and tasks_id[0].pm_confirmed == 'Y'}">Y</option>
                <option value="N" th:selected="${tasks_id != null and tasks_id[0].pm_confirmed == 'N'}">N</option>
            </select>
            <span class="placeholder"></span>
        </div>
    </div>
</div>
        <!-- 개발환경 -->
        <hr />
        <!-- 기종/OS/언어 -->
        <div class="row" style="padding-top: 15px">
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="dev_model" id="dev_model" required spellcheck="false" 
                    th:value="${dev != null ? dev.get(0).dev_model : ''}">
                    <span class="placeholder">기종</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="os" id="os" required spellcheck="false" 
                    th:value="${dev != null ? dev.get(0).os : ''}">
                    <span class="placeholder">OS</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="language" id="language" required spellcheck="false" 
                    th:value="${dev != null ? dev.get(0).language : ''}">
                    <span class="placeholder">언어</span>
                </div><br>
            </div>
            <div class="col-md-3"></div>
        </div>
        <!-- DBMS/TOOL/WAS -->
        <div class="row">
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="dbms" id="dbms" required spellcheck="false" 
                    th:value="${dev != null ? dev.get(0).dbms : ''}">
                    <span class="placeholder">DBMS</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="tool" id="tool" required spellcheck="false" 
                    th:value="${dev != null ? dev.get(0).tool : ''}">
                    <span class="placeholder">TOOL</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="WAS" id="WAS" required spellcheck="false" 
                    th:value="${dev != null ? dev.get(0).WAS : ''}">
                    <span class="placeholder">WAS</span>
                </div><br>
            </div>
            <div class="col-md-3">
                <div class="input-block">
                    <input type="text" name="other" id="other" required spellcheck="false" 
                    th:value="${dev != null ? dev.get(0).other : ''}">
                    <span class="placeholder">기타</span>
                </div><br>
            </div>
        </div>
        <!-- 개요 -->
        <hr />
        <div class="row" style="padding-top: 15px">
            <div class="col-md-12">
                <div class="input-block form-group">
                    <label for="comment" class="placeholder">개요 : </label>
                    <textarea class="form-control" rows="5" name="pm_outline" id="pm_outline" 
                    th:text="${tasks_id != null ? tasks_id.get(0).pm_outline : ''}"></textarea>
                </div><br>
            </div>
        </div>
<!-- 투입인력정보 -->
<div class="row">
    <div class="container">
        <h5 style="font-weight: bold;">투입인력정보</h5>
        <table class="table table-bordered table-hover" style="text-align: center;">
            <thead class="input-block">
                <tr>
                    <th>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="font-weight: bold;">+</button>
                            <button type="button" class="btn btn-danger" id="removeSelectedSawon" style="font-weight: bold;">-</button>
                        </div>
                    </th>
                    <th style="vertical-align: middle;">사번</th>
                    <th style="vertical-align: middle;">성명</th>
                    <th style="vertical-align: middle;">사업부</th>
                    <th style="vertical-align: middle;">그룹명</th>
                    <th style="vertical-align: middle;">직급</th>
                    <th style="vertical-align: middle;">휴대전화</th>
                    <th style="vertical-align: middle;">이메일</th>
                    <th style="vertical-align: middle;">평가</th>
                </tr>
            </thead>
            <tbody id="myTable_sawon">
                <!-- 테이블 행 추가되는 부분 -->
                <tr th:each="employee : ${emp}">
                    <td><input type="checkbox" class="employee-checkbox"></td>
                    <td th:text="${employee.emp_num}"></td>
                    <td th:text="${employee.name_kor}"></td>
                    <td th:text="${employee.dept_biz}"></td>
                    <td th:text="${employee.dept_group}"></td>
                    <td th:text="${employee.emp_rank}"></td>
                    <td th:text="${employee.phone}"></td>
                    <td th:text="${employee.mail}"></td>
                    <!-- 평가 값 가져와야함 
                    <td th:text="${employee.mail}"></td>
                     -->
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 모달 -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- 모달 내용 -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">사원 선택</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-6">
                        <select id="bizFilter" class="form-control">
                            <option value="">전체</option>
                            <option th:each="deptBiz : ${uniqueDeptBiz}" th:value="${deptBiz}" th:text="${deptBiz}"></option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select id="deptFilter" class="form-control">
                            <option value="">전체</option>
                            <option th:each="deptGroup : ${uniqueDeptGroup}" th:value="${deptGroup}" th:text="${deptGroup}"></option>
                        </select>
                    </div>
                    <div class="col-md-12"><br></div>
                    <div class="col-md-12">
                        <input type="text" id="searchInput" class="form-control" placeholder="검색...">
                    </div>
                    <div class="col-md-12"><br></div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="selectAll"></th>
                                <th>사번</th>
                                <th>성명</th>
                                <th>사업부</th>
                                <th>그룹명</th>
                                <th>직급</th>
                                <th>휴대전화</th>
                                <th>이메일</th>
                            </tr>
                        </thead>
                        <tbody id="employeeList">
                            <!-- 모달 사원 테이블 -->
                            <tr th:each="employee : ${employees}">
                                <td><input type="checkbox"></td>
                                <td th:text="${employee.emp_num}"></td>
                                <td th:text="${employee.name_kor}"></td>
                                <td th:text="${employee.dept_biz}"></td>
                                <td th:text="${employee.dept_group}"></td>
                                <td th:text="${employee.emp_rank}"></td>
                                <td th:text="${employee.phone}"></td>
                                <td th:text="${employee.mail}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- 페이징 컨트롤 -->
                    <ul class="pagination" id="pageContent">
                        <!-- 페이징 링크가 여기에 동적으로 추가될 것입니다. -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addSelected">선택 추가</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 사원 평가를 위한 모달 -->
<div class="modal fade" id="evaluationModal" tabindex="-1" role="dialog" aria-labelledby="evaluationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="evaluationModalLabel">사원 평가</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <!-- 여기에 평가 폼 등을 추가하세요 -->
                    <p>평가할 사원: <span id="employeeName"></span></p>
                    <!-- 평가 폼 등을 추가하세요 -->
                    <select class="form-control" id="tech_gbn">
                        <option value="" selected>업무평가</option>
                        <option value="상">상</option>
                        <option value="중">중</option>
                        <option value="하">하</option>
                    </select>
                    <textarea class="form-control" rows="5" id="tech_comment" placeholder="기술사항에 대한 평가를 입력해 주세요." style="padding-top: 10px"></textarea>
<br><br>
                   <select class="form-control" id="user_gbn">
                       <option value="" selected>근태평가</option>
                        <option value="상">상</option>
                        <option value="중">중</option>
                        <option value="하">하</option>
                   </select>

                    <textarea class="form-control" rows="5" id="user_comment" placeholder="인성에 대한 평가를 입력해 주세요." style="padding-top: 10px"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary">평가 제출</button>
            </div>
        </div>
    </div>
</div>

        <!-- 특이사항 -->
        <div class="row" style="padding-top: 15px">
            <div class="col-md-12">
                <div class="input-block form-group">
                    <label for="comment" class="placeholder">특이사항 : </label>
                    <textarea class="form-control" rows="5" id="pm_bego" name="pm_bego" th:text="${tasks_id != null ? tasks_id.get(0).pm_bego : ''}"></textarea>
                </div><br>
            </div>
        </div>
        <!-- 엑셀첨부 -->
        <!-- 저장 -->
        <div class="row" style="padding-bottom: 50px; padding-top: 20px; display: flex; justify-content: center;">
            <a th:href="@{/assign}" style="text-align: center;" class="btn btn-default" th:text="취소"></a>&nbsp;&nbsp;&nbsp;
            <a th:href="@{/assign}" id="updateButton" style="text-align: center;" class="btn btn-success">저장</a>
        </div>
    </form>
</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        var selectedOption = document.getElementById('pm_status');
        console.log('pm_status :', selectedOption.value);

        var selectedOption = document.getElementById('pm_confirmed');
        console.log('pm_confirmed :', selectedOption.value);
    });
</script>

</body>
<!-- footer -->
<div class="content" style="padding-top: 100px">
    <div th:replace="footer :: footer"></div>
</div>
</html>