<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>norisystem HRM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" th:href="@{/css/board_update.css?after}" />
  <script type="text/javascript" th:src="@{/js/board_update.js}"></script>
  <script type="text/javascript" src="js/session.js" th:href="@{js/session.js}" ></script>
   <script>
   //담당자 모달에서의 사업부/부서 select 박스
   //사업부 및 부서 별로 select 박스 나타나도록 
   document.addEventListener('DOMContentLoaded', function() {
         document.getElementById('businessUnit').addEventListener('change', function() {
           var businessUnit = this.value;
           var departmentSelect = document.getElementById('department');
           var departmentOptions = departmentSelect.getElementsByTagName('option');
           
           // 모든 옵션 숨기기
           for (var i = 0; i < departmentOptions.length; i++) {
             departmentOptions[i].style.display = 'none';
           }
           
           // 's'로 시작하는 경우에만 특정 옵션 표시
           if (businessUnit.startsWith('s')) {
             for (var i = 0; i < departmentOptions.length; i++) {
               var optionValue = departmentOptions[i].value;
               if (optionValue.startsWith('s')) {
                 departmentOptions[i].style.display = 'block';
               }
             }
           } else if (businessUnit.startsWith('i')) {
              for (var i = 0; i < departmentOptions.length; i++) {
                 var optionValue = departmentOptions[i].value;
                   if (optionValue.startsWith('i')) {
                      departmentOptions[i].style.display = 'block';
                   }
               }
           } else if (businessUnit.startsWith('b')) {
              for (var i = 0; i < departmentOptions.length; i++) {
                 var optionValue = departmentOptions[i].value;
                 if (optionValue.startsWith('b')) {
                    departmentOptions[i].style.display = 'block';
                   }
              }
           } else if (businessUnit.startsWith('f')) {
              for (var i = 0; i < departmentOptions.length; i++) {
                 var optionValue = departmentOptions[i].value;
                 if (optionValue.startsWith('f')) {
                    departmentOptions[i].style.display = 'block';
                 }
              }
           } else if (businessUnit.startsWith('t')) {
              for (var i = 0; i < departmentOptions.length; i++) {
                 var optionValue = departmentOptions[i].value;
                 if (optionValue.startsWith('t')) {
                    departmentOptions[i].style.display = 'block';
                 }
              }
           }        
         });
       });
////////////////////주번입력-나이,성별계산////////////////////
   function calculateAgeAndGender() {
       var regNumInput = document.getElementById("reg_num").value;
       var ageOutput = document.getElementById("age");
       var genderOutput = document.getElementById("gender");
       
       // 주민등록번호 입력이 13자리인지 확인
       if (regNumInput.length === 13) {
           // 7번째 자리의 숫자로 성별 파악
           var genderCode = parseInt(regNumInput.charAt(6), 10);
           var gender = (genderCode % 2 === 1) ? "남성" : "여성";
           console.log("gender="+gender);

           // 현재 연도와 출생 연도 파악
           var currentYear = new Date().getFullYear();
           var birthYear = parseInt(regNumInput.substring(0, 2), 10);
           var century = (regNumInput.charAt(6) <= "2") ? "19" : "20"; // 19세기 출생자와 20세기 출생자 구분

           // 실제 출생연도 계산
           var realBirthYear = parseInt(century + regNumInput.substring(0, 2), 10);
           // 현재 나이 계산
           var age = currentYear - realBirthYear + 1;

           // 결과를 출력
           ageOutput.value = age;
           genderOutput.value = gender;
           console.log("age="+age);
       } else {
           // 13자리가 아닌 경우에는 결과를 초기화
           ageOutput.value = "";
           genderOutput.value = "";
       }
   }
   //+버튼을 눌렀을 때 테이블 추가
   function addTableRow(tableID, radioGroupName) {
       var table = document.getElementById(tableID);

       // 테이블이 존재하는지 확인
       if (table && table.rows.length > 0 && table.rows[0].cells.length > 0) {
           var rowCount = table.rows.length;
           var row = table.insertRow(rowCount);
       
           var cell1 = row.insertCell(0);
           var element1 = document.createElement("input");
           element1.type = "radio";
           element1.name = radioGroupName;
           cell1.appendChild(element1);
       
           // 각 열에 적합한 input 요소를 생성하여 삽입
           for (var i = 1; i < table.rows[0].cells.length; i++) {
               var cell = row.insertCell(i);
               var element = document.createElement("input");

               // 해당 열의 첫 번째 셀의 input 요소의 type을 확인하여 타입을 설정
               var firstCellInputType = table.rows[0].cells[i].querySelector("input").type;
               if (firstCellInputType === "date") {
                   // type이 date인 경우
                   element.type = "date";
               } else {
                   // 그 외의 경우 (type이 text인 경우 등)
                   element.type = "text";
               }

               element.className = "form-control";
               cell.appendChild(element);
           }
       } else {
           console.error("Table with ID '" + tableID + "' not found or has no rows or cells.");
       }
   }
   
   //-버튼을 눌렀을 때 라디오 버튼이 눌린 테이블 열 삭제
   function deleteTableRow(tableID) {
       try {
           var table = document.getElementById(tableID);
           var rowCount = table.rows.length;

           for (var i = 0; i < rowCount; i++) {
               var row = table.rows[i];
               var chkbox = row.cells[0].childNodes[0];
               if (chkbox.checked) {
                   table.deleteRow(i);
                   rowCount--;
                   i--;
               }
           }
       } catch (e) {
           alert(e);
       }
   }
   // 사원 이미지를 불러오는 함수
   function fetchEmployeeImage() {
     const empNum = document.getElementById("emp_num").value;
     console.log("fetchEmployeeImage 사원번호 : ", empNum);

     if (!empNum) {
       console.error("사원번호가 없습니다.");
       return;
     }

     const formData = new FormData();
     formData.append("empNum", empNum); // 올바르게 FormData에 사원번호를 추가

     fetch(`/view`, { method: "POST", body: formData })
       .then((response) => {
         if (response.ok) {
           return response.text(); // 성공적으로 이미지 데이터를 받아옴
         } else if (response.status === 404) {
           console.log(
             "이미지를 찾을 수 없습니다. 기본 이미지로 대체합니다."
           );
           return "http://localhost:8080/image/default-image.png"; // 기본 이미지 URL 반환
         } else {
           throw new Error(
             "서버에서 이미지를 불러오는 중 문제가 발생했습니다."
           );
         }
       })
       .then((base64Image) => {
         const imgElement = document.getElementById("employeeImage");
         // Base64 데이터와 URL 구분 처리
         if (base64Image.startsWith("data:image")) {
           imgElement.src = base64Image;
         } else if (base64Image.startsWith("http")) {
           imgElement.src = base64Image;
         } else {
           imgElement.src = "data:image/jpeg;base64," + base64Image;
         }
         imgElement.hidden = false;
       })
       .catch((error) => {
         console.error("Error:", error);
         const imgElement = document.getElementById("employeeImage");
         imgElement.src = "http://localhost:8080/image/default-image.png";
         imgElement.hidden = false;
       });
   }

   // 기본 이미지를 URL로 직접 설정하는 방법으로 변경
   function fetchDefaultImage() {
     return "http://localhost:8080/image/default-image.png"; // 기본 이미지의 URL 반환
   }

   function uploadPhoto() {
     var fileInput = document.getElementById("fileInput");
     var empNumInput = document.getElementById("emp_num").value;

     if (!fileInput.files.length) {
       alert("파일을 선택해주세요.");
       return;
     }

     if (!empNumInput) {
       alert("사번을 입력해주세요.");
       return;
     }

     var formData = new FormData();
     formData.append("file", fileInput.files[0]);
     formData.append("emp_num", empNumInput);

     $.ajax({
       url: "/upload",
       type: "POST",
       data: formData,
       processData: false,
       contentType: false,
       success: function (response) {
         console.log("Success:", response);
         alert("사진이 저장되었습니다.");
       },
       error: function (xhr, status, error) {
         console.error("Error:", error);
         alert("사진 저장에 실패했습니다.");
       },
     });
   }

   
   function previewImage(event) {
     var reader = new FileReader();
     reader.onload = function () {
       var output = document.getElementById("employeeImage");
       output.src = reader.result;
     };
     reader.readAsDataURL(event.target.files[0]);
   }

   window.onload = function () {
     fetchEmployeeImage();
   };
 </script>
 <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
 <style>
   /* navigation 과 footer 상하단 고정을 위한 style */
    #wrap {
      min-height: calc(100% - 120px);
    }
    html,
    body {
      height: 100%;
      padding: 0px;
      margin: 0px;
    }
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #f5f5f5;
      text-align: center;
      padding: 10px 0;
      z-index: 1000;
    }
    .content {
      margin-bottom: 50px; /* Footer 높이만큼 여백 추가 */
      overflow-y: auto; /* 스크롤이 필요할 때만 스크롤바 표시 */
    }
  </style>
</head>
<body onload="fetchEmployeeImage()">
<!-- -------------------------------------상단 네비게이션 바------------------------------------- -->
    <div th:insert="~{navigation :: navbar}"></div>
<!-- -------------------------------------main 부분------------------------------------- -->
<div><br><br></div>
<div class="container" style="padding-top: 50px; padding-bottom: 50px; width: 1400px;">
    <form th:action="@{/employee/update}" method="post">
    <div class="row">
        <!-- 왼쪽에 사진 -->
        <div class="col-md-3">
            <div style="text-align: center;">
                <label for="fileInput">
                <img id="employeeImage" src="" alt="employee image"
                style="width: 175px; height: 200px; cursor: pointer;">
                </label><br>
                <button class="btn btn-default" type="button" onclick="uploadPhoto()">사진 저장</button>
            </div>
            <div class="row" style="padding-top: 25px; width:80%;margin-left:30px;">
                <div class="input-block">
                    <input type="text" name="emp_num" id="emp_num" th:value="${emp_num}" 
                         required spellcheck="false">
                    <span class="placeholder">사번</span>
                </div>
            </div>
            <br>
            <input type="file" id="fileInput" onchange="previewImage(event)" style="display: none;">
        </div>
        <!-- 나머지 데이터는 오른쪽 -->
        <div class="col-md-9" style="padding-top: 15px">
            <!-- 이름/영문이름/휴대폰 -->
            <div class="row" style="padding-bottom:10px;">
                <!-- 이름 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="name_kor" id="name_kor" th:value="${emp.name_kor != null ? emp.name_kor : ''}" 
                        required spellcheck="false">
                        <span class="placeholder">이름</span>
                    </div>
                </div>
                <!-- 영문이름 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="name_eng" id="name_eng" th:value="${emp.name_eng != null ? emp.name_eng : ''}" 
                        required spellcheck="false">
                        <span class="placeholder">영문이름</span>
                    </div>
                </div>
                <!-- 휴대폰 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="phone" id="phone" th:value="${emp.phone != null ? emp.phone : ''}" 
                        required spellcheck="false">
                        <span class="placeholder">휴대폰</span>
                    </div>
                </div>
            </div>
            <!-- 주민번호/나이/성별 -->
            <div class="row" style="padding-bottom:10px;">
                <!-- 주민번호 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="reg_num" id="reg_num" th:value="${emp.reg_num != null ? emp.reg_num : ''}"  
                         required spellcheck="false" oninput="calculateAgeAndGender()">
                        <span class="placeholder">주민번호</span>
                    </div>
                </div>
                <!-- 나이 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="age" id="age" th:value="${emp.age != null ? emp.age : ''}" 
                        spellcheck="false" readonly="readonly" style="background-color: lightgray;">
                        <span class="placeholder">나이</span>
                    </div>
                </div>
                <!-- 성별 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="gender" id="gender" th:value="${emp.gender != null ? emp.gender : ''}" spellcheck="false" readonly="readonly"
                        style="background-color: lightgray;">
                        <span class="placeholder">성별</span>
                    </div>
                </div>
            </div>
            <br>  
            <!-- 사업부/그룹/입사일 -->
            <div class="row" style="padding-bottom:10px;">
                <!-- 사업부 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <select class="form-control" name="dept_biz" id="businessUnit" style="font-weight: bold;">
                            <option value="" disabled="disabled" th:if="${emp.dept_biz == null}" selected>사업부</option>
                            <option th:each="bus : ${busstandard}" th:value="${bus.gbn_detail}" 
                                    th:selected="${bus.gbn_detail == emp.dept_biz}" 
                                    th:text="${bus.gbn_name}"></option>
                        </select>
                    </div>
                </div>
                <!-- 부서 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <select class="form-control" name="dept_group" id="department" style="font-weight: bold;">
                            <option disabled="disabled" selected 
                            th:value="${emp.dept_group}" th:text="${dept_Group}">부서</option>
                            <option th:each="gro : ${grostandard}"
                            th:value="${gro.gbn_detail}" th:text="${gro.gbn_name}"></option>
                        </select>
                    </div>
                </div>
                <!-- 입사일 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="date" name="date_join" id="date_join" th:value="${emp.date_join != null ? emp.date_join : ''}" 
                         spellcheck="false">
                        <span class="placeholder">입사일</span>
                    </div>
                </div>
            </div>
            <!-- 직급/직책/직무 -->
            <div class="row" style="padding-bottom:10px;">
                <!-- 직급 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <select class="form-control" name="emp_rank" id="emp_rank_select" style="font-weight: bold;">
                            <option value="직급" th:placeholder="직급" disabled="disabled" 
                            selected th:value="${emp.emp_rank}" th:text="${emp_Rank}">직급</option>
                            <option th:each="rank : ${rankstandard}" th:value="${rank.gbn_detail}" th:text="${rank.gbn_name}"></option>
                        </select>
                    </div>
                </div>
                <!-- 직책 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <select class="form-control" name="work_pos" id="emp_position_select" style="font-weight: bold;">
                            <option value="직책" th:placeholder="직책" disabled="disabled" 
                            selected th:value="${emp.work_pos}" th:text="${work_Pos}">직책</option>
                            <option th:each="pos : ${posstandard}" th:value="${pos.gbn_detail}" th:text="${pos.gbn_name}"></option>
                        </select>
                    </div>
                </div>
                <!-- 직무 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <select class="form-control" name="position" id="position" style="font-weight: bold;">
                            <option value="직무" th:placeholder="직무" disabled="disabled" 
                            selected th:value="${emp.position}" th:text="${Position}">직무</option>
                            <option th:each="job : ${jobstandard}" th:value="${job.gbn_detail}" th:text="${job.gbn_name}"></option>
                        </select>
                   </div>
                </div>
            </div>
            <!-- 호봉/이메일 -->
            <div class="row" style="padding-bottom:10px;">
                <!-- 호봉 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="salary" id="salary" th:value="${emp.salary != null ? emp.salary : ''}" required spellcheck="false">
                        <span class="placeholder">호봉</span>
                    </div>
                </div>
                <!-- 이메일 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="mail-head" id="mail-head" th:value="${mail_head != null ? mail_head : ''}" required spellcheck="false">
                        <span class="placeholder">이메일</span>
                    </div>
                </div>
                <!-- 이메일 도메인 선택 박스 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <select name="email-domain-select" id="email-domain-select" style="font-weight: bold;">
                            <option th:value="${mail_domain}" th:text="${mail_domain}" disabled="disabled" selected>도메인을 선택하세요</option>
                            <option value="norisystem.co.kr">norisystem.co.kr</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="naver.com">naver.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="nate.com">nate.com</option>
                            <option value="kakao.com">kakao.com</option>
                            <option value="hotmail.com">hotmail.com</option>
                            <option value="hanmail.net">hanmail.net</option>
                            <option value="yahoo.com">yahoo.com</option>
                        </select>
                    </div>
                </div>
                <!-- 숨겨진 input 요소 -->
                <input type="hidden" name="mail" id="mail" th:value="${mail_head + '@' + mail_domain}">
            </div>
            <br>
            <!-- 우편번호/주소 -->
            <div class="row" style="padding-bottom:10px;">
                <!-- 우편번호 -->
                <div class="col-md-2">
                    <div class="input-block">
                    <input type="button" onclick="execDaumPostcode()" 
                            class="custom-button btnFade btnLightBlue" 
                            style="padding-right:15px;" value="우편번호 찾기">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-block">
                        <input type="text" name="address_num" id="address_num" placeholder="우편번호"
                        th:value="${emp.address_num}" readonly="readonly" style="background-color: lightgray;">
                    </div>
                </div>
                <!-- 주소 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="address_1" id="address_1" placeholder="도로명주소" 
                        th:value="${address_1}" spellcheck="false" readonly="readonly" style="background-color: lightgray;">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="address_2" id="address_2" placeholder="상세주소"
                        th:value="${address_2}" required spellcheck="false" >
                    </div>
                </div>
                <input type="hidden" name="address" id="address" th:value="${address_1 + ',' + address_2}"> <!-- 숨겨진 input 요소 -->
            </div>
            <!-- 신장/체중/최종학력 -->
            <div class="row" style="padding-bottom:10px;">
                <!-- 신장 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="height" id="height" th:value="${emp.height != null ? emp.height : ''}" spellcheck="false">
                        <span class="placeholder">신장(cm)</span>
                    </div>
                </div>
                <!-- 체중 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <input type="text" name="weight" id="weight" th:value="${emp.weight != null ? emp.weight : ''}" spellcheck="false">
                        <span class="placeholder">체중(kg)</span>
                    </div>
                </div>
                <!-- 최종학력 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <select class="form-control" name="last_edu" id="last_edu" style="font-weight: bold;">
                            <option value="" disabled selected th:value="${emp.last_edu}" th:text="${emp.last_edu}">최종학력</option>
                            <option value="고졸">고졸</option>
                            <option value="전문학사">전문학사</option>
                            <option value="학사">학사</option>
                            <option value="석사">석사</option>
                            <option value="박사">박사</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 군필여부/결혼여부 -->
            <div class="row" style="padding-bottom:10px;">
                <!-- 군필여부 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <select class="form-control" name="military" id="military" style="font-weight: bold;">
                            <option value="" disabled selected th:value="${emp.military}" th:text="${emp.military}">군필여부</option>
                            <option value="미필">미필</option>
                            <option value="군필">군필</option>
                        </select>
                    </div>
                </div>
                <!-- 결혼여부 -->
                <div class="col-md-4">
                    <div class="input-block">
                        <select class="form-control" name="marry" id="marry" style="font-weight: bold;">
                            <option value="" disabled selected th:value="${emp.marry}" th:text="${emp.marry}">결혼여부</option>
                            <option value="미혼">미혼</option>
                            <option value="기혼">기혼</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- 과제명/투입구분 -->
            <!-- 
            <div class="row" style="padding-bottom:10px;">
             -->
                <!-- 과제명 
                <div class="col-md-6">
                    <div class="input-block">
                        <input type="text" name="pm_name" id="pm_name" 
                        disabled spellcheck="false" style="background-color: lightgray;">
                        <span class="placeholder">과제명</span>
                    </div>
                </div>
                -->
                <!-- 투입구분 
                <div class="col-md-6">
                    <div class="input-block">
                        <input type="text" name="pm_confirmed" id="pm_confirmed" 
                        disabled spellcheck="false" style="background-color: lightgray;">
                        <span class="placeholder">투입구분</span>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

        <!-- -------------------------------------경력------------------------------------- -->
        <!-- -------------------------------------스크롤------------------------------------- -->
        <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">경력&nbsp;&nbsp;&nbsp;</span> 
                <button type="button" class="btn btn-primary btn-sm" onclick="addTableRow('myTable_car', 'tableSelect_car')" 
                style="font-weight: bold;">+</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteTableRow('myTable_car')"
                style="font-weight: bold;">−</button>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="width: 40px;"></th>
                            <th>회사</th>
                            <th>부서</th>
                            <th>입사일</th>
                            <th>퇴사일</th>
                            <th>근속기간</th>
                            <th>최종직급</th>
                            <th>업무내용</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_car">
                        <!-- Thymeleaf 반복문으로 경력 데이터 출력 -->
                        <tr th:each="career : ${career}">
                            <td><input type="radio" name="tableSelect_car" value="myTable_car" style="vertical-align: middle;"></td>
                            <td><input type="text" class="form-control" name="company" id="company" th:value="${career.company != null ? career.company : ''}"></td>
                            <td><input type="text" class="form-control" name="department" id="department" th:value="${career.department != null ? career.department : ''}"></td>
                            <td><input type="date" class="form-control" name="date_join" id="date_join" th:value="${career.date_join != null ? career.date_join : ''}"></td>
                            <td><input type="date" class="form-control" name="date_leave" id="date_leave" th:value="${career.date_leave != null ? career.date_leave : ''}"></td>
                            <td><input type="text" class="form-control" name="work_period" id="work_period" th:value="${career.work_period != null ? career.work_period : ''}" placeholder="개월"></td>
                            <td><input type="text" class="form-control" name="final_rank" id="final_rank" th:value="${career.final_rank != null ? career.final_rank : ''}"></td>
                            <td><input type="text" class="form-control" name="work_info" id="work_info" th:value="${career.work_info != null ? career.work_info : ''}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- -------------------------------------학력------------------------------------- -->
        <!-- -------------------------------------스크롤------------------------------------- -->
        <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">학력&nbsp;&nbsp;&nbsp;</span> 
                <button type="button" class="btn btn-primary btn-sm" onclick="addTableRow('myTable_edu', 'tableSelect_edu')" 
                style="font-weight: bold;">+</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteTableRow('myTable_edu')"
                style="font-weight: bold;">−</button>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="width: 40px;"></th>
                            <th>학교명</th>
                            <th>소재지</th>
                            <th>입학일</th>
                            <th>졸업일</th>
                            <th>전공</th>
                            <th>부전공</th>
                            <th>특이사항</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_edu">
                        <tr>
                            <td><input type="radio" name="tableSelect_edu" value="myTable_edu" style="vertical-align: middle;"></td>
                            <td><input type="text" class="form-control" name="name_school" id="name_school" th:value="${schoolEducation.name_school != null ? schoolEducation.name_school : ''}"></td>
                            <td><input type="text" class="form-control" name="location" id="location" th:value="${schoolEducation.location != null ? schoolEducation.location : ''}"></td>
                            <td><input type="date" class="form-control" name="date_admition" id="date_admition" th:value="${schoolEducation.date_admition != null ? schoolEducation.date_admition : ''}"></td>
                            <td><input type="date" class="form-control" name="date_graduate" id="date_graduate" th:value="${schoolEducation.date_graduate != null ? schoolEducation.date_graduate : ''}"></td>
                            <td><input type="text" class="form-control" name="major" id="major" th:value="${schoolEducation.major != null ? schoolEducation.major : ''}"></td>
                            <td><input type="text" class="form-control" name="sub_major" id="sub_major" th:value="${schoolEducation.sub_major != null ? schoolEducation.sub_major : ''}"></td>
                            <td><input type="text" class="form-control" name="comment" id="comment" th:value="${schoolEducation.comment != null ? schoolEducation.comment : ''}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- -------------------------------------기술사항------------------------------------- -->
      <!-- -------------------------------------스크롤------------------------------------- -->
        <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">기술사항&nbsp;&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-primary btn-sm" onclick="addTableRow('myTable_tec', 'tableSelect_tec')" 
                style="font-weight: bold;">+</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteTableRow('myTable_tec')"
                style="font-weight: bold;">−</button>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="width: 40px;"></th>
                            <th>기술사항</th>
                            <th>숙련도</th>
                            <th>비고</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_tec">
                        <tr>
                            <td><input type="radio" name="tableSelect_tec" value="myTable_tec" style="vertical-align: middle;"></td>
                            <td><input type="text" class="form-control" name="tec_detail" id="tec_detail" th:value="${technical.tec_detail != null ? technical.tec_detail : ''}"></td>
                            <td><input type="text" class="form-control" name="proficiency" id="proficiency" th:value="${technical.proficiency != null ? technical.proficiency : ''}"></td>
                            <td><input type="text" class="form-control" name="tec_note" id="tec_note" th:value="${technical.note != null ? technical.note : ''}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- -------------------------------------가족관계------------------------------------- -->
      <!-- -------------------------------------스크롤------------------------------------- -->
        <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">가족관계&nbsp;&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-primary btn-sm" onclick="addTableRow('myTable_fam', 'tableSelect_fam')" 
                style="font-weight: bold;">+</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteTableRow('myTable_fam')"
                style="font-weight: bold;">−</button>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="width: 40px;"></th>
                            <th>가족성명</th>
                            <th>생년월일</th>
                            <th>관계</th>
                            <th>동거여부</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_fam">
                        <tr>
                            <td><input type="radio" name="tableSelect_fam" value="myTable_fam" style="vertical-align: middle;"></td>
                            <td><input type="text" class="form-control" name="name_family" id="name_family" th:value="${family.name_family != null ? family.name_family : ''}" /></td>
                            <td><input type="date" class="form-control" name="birth" id="birth" th:value="${family.birth != null ? family.birth : ''}" /></td>
                            <td><input type="text" class="form-control" name="rel" id="rel" th:value="${family.rel != null ? family.rel : ''}" /></td>
                            <td><input type="text" class="form-control" name="live" id="live" th:value="${family.live != null ? family.live : ''}" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- -------------------------------------자격증------------------------------------- -->
      <!-- -------------------------------------스크롤------------------------------------- -->
        <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">자격증&nbsp;&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-primary btn-sm" onclick="addTableRow('myTable_lic', 'tableSelect_lic')" 
                style="font-weight: bold;">+</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteTableRow('myTable_lic')"
                style="font-weight: bold;">−</button>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="width: 40px;"></th>
                            <th>자격증명</th>
                            <th>취득일</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_lic">
                        <tr>
                            <td><input type="radio" name="tableSelect_lic" value="myTable_lic" style="vertical-align: middle;"></td>
                            <td><input type="text" class="form-control" name="name_license" id="name_license" th:value="${certificate.name_license != null ? certificate.name_license : ''}" /></td>
                            <td><input type="date" class="form-control" name="date_acqui" id="date_acqui" th:value="${certificate.date_acqui != null ? certificate.date_acqui : ''}" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- -------------------------------------교육이수------------------------------------- -->
      <!-- -------------------------------------스크롤------------------------------------- -->
        <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">교육이수&nbsp;&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-primary btn-sm" onclick="addTableRow('myTable_ec', 'tableSelect_ec')" 
                style="font-weight: bold;">+</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteTableRow('myTable_ec')"
                style="font-weight: bold;">−</button>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="width: 40px;"></th>
                            <th>교육명</th>
                            <th>시작일</th>
                            <th>종료일</th>
                            <th>교육기관</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_ec">
                        <tr>
                            <td><input type="radio" name="tableSelect_ec" value="myTable_ec" style="vertical-align: middle;"></td>
                            <td><input type="text" class="form-control" name="name_edu" id="name_edu" th:value="${educationCompletion.name_edu != null ? educationCompletion.name_edu : ''}" /></td>
                            <td><input type="date" class="form-control" name="date_start" id="date_start" th:value="${educationCompletion.date_start != null ? educationCompletion.date_start : ''}" /></td>
                            <td><input type="date" class="form-control" name="date_end" id="date_end" th:value="${educationCompletion.date_end != null ? educationCompletion.date_end : ''}" /></td>
                            <td><input type="text" class="form-control" name="edu_insti" id="edu_insti" th:value="${educationCompletion.edu_insti != null ? educationCompletion.edu_insti : ''}" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- -------------------------------------상벌------------------------------------- -->
      <!-- -------------------------------------스크롤------------------------------------- -->        
      <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">상벌&nbsp;&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-primary btn-sm" onclick="addTableRow('myTable_rp', 'tableSelect_rp')" 
                style="font-weight: bold;">+</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteTableRow('myTable_rp')"
                style="font-weight: bold;">−</button>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="width: 40px;"></th>
                            <th>구분</th>
                            <th>상벌명</th>
                            <th>점수</th>
                            <th>상벌일</th>
                            <th>상벌내용</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_rp">
                        <tr>
                            <td><input type="radio" name="tableSelect_rp" value="myTable_rp" style="vertical-align: middle;"></td>
                            <td><input type="text" class="form-control" name="name_rew_gbn" id="name_rew_gbn" th:value="${rewardPunishment.name_rew_gbn != null ? rewardPunishment.name_rew_gbn : ''}" /></td>
                            <td><input type="text" class="form-control" name="name_rew_puni" id="name_rew_puni" th:value="${rewardPunishment.name_rew_puni != null ? rewardPunishment.name_rew_puni : ''}" /></td>
                            <td><input type="text" class="form-control" name="score" id="score" th:value="${rewardPunishment.score != null ? rewardPunishment.score : ''}" /></td>
                            <td><input type="date" class="form-control" name="date_rew_puni" id="date_rew_puni" th:value="${rewardPunishment.date_rew_puni != null ? rewardPunishment.date_rew_puni : ''}" /></td>
                            <td><input type="text" class="form-control" name="note" id="note" th:value="${rewardPunishment.note != null ? rewardPunishment.note : ''}" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- -------------------------------------직급/호봉------------------------------------- -->
      <!-- -------------------------------------스크롤------------------------------------- -->
        <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">직급/호봉&nbsp;&nbsp;&nbsp;</span>
                <button type="button" class="btn btn-primary btn-sm" onclick="addTableRow('myTable_rs', 'tableSelect_rs')" 
                style="font-weight: bold;">+</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteTableRow('myTable_rs')"
                style="font-weight: bold;">−</button>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-hover" style="text-align: center; width: 100%;">
                    <thead>
                        <tr>
                            <th style="width: 40px;"></th>
                            <th>직급</th>
                            <th>호봉</th>
                            <th>시작일</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_rs">
                        <tr>
                            <td><input type="radio" name="tableSelect_rs" value="myTable_rs" style="vertical-align: middle;"></td>
                            <td><input type="text" class="form-control" name="rs_emp_rank" id="rs_emp_rank" th:value="${rankSalary.emp_rank != null ? rankSalary.emp_rank : ''}" /></td>
                            <td><input type="text" class="form-control" name="rs_salary" id="rs_salary" th:value="${rankSalary.salary != null ? rankSalary.salary : ''}" /></td>
                            <td><input type="date" class="form-control" name="date_join" id="date_join" th:value="${rankSalary.date_join != null ? rankSalary.date_join : ''}" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        <!-- -------------------------------------과제현황------------------------------------- -->
        <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">과제현황&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <!-- <button type="button" class="btn btn-primary" onclick="addTableRow('myTable_pm', 'tableSelect_pm')">+</button> -->
                <!-- <button type="button" class="btn btn-danger" onclick="deleteTableRow('myTable_pm')">-</button> -->
            </div>
        <div class="col-md-10">
            <table class="table table-bordered table-hover" style="text-align: center;">
                <thead>
                    <tr>
                        <th style="width: 40px;"></th>
                        <th>과제코드</th>
                        <th>과제명</th>
                        <th>투입기간</th>
                        <th>시작일</th>
                        <th>종료일</th>
                    </tr>
                </thead>
                <tbody id="myTable_pm">
                    <tr th:each="hist : ${emp_hist}">
                        <td><input type="radio" name="tableSelect_pm" th:value="${hist.pm_code}" disabled style="vertical-align: middle;"></td>
                        <td><input type="text" class="form-control" th:value="${hist.pm_code != null ? hist.pm_code : ''}" disabled></td>
                        <td><input type="text" class="form-control" th:value="${hist.pm_name != null ? hist.pm_name : ''}" disabled></td>
                        <td><input type="text" class="form-control" th:value="${hist.pm_work_date != null ? hist.pm_work_date : ''}" disabled></td>
                        <td><input type="date" class="form-control" th:value="${hist.pm_start_date != null ? hist.pm_start_date : ''}" disabled></td>
                        <td><input type="date" class="form-control" th:value="${hist.pm_end_date != null ? hist.pm_end_date : ''}" disabled></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
        <div class="row" style="padding-bottom: 20px; text-align: center;" >
            <a th:href="@{/main}" style="text-align: center;" class="btn btn-default" th:text="취소"></a>
            <button th:href="@{/main}" id="updateButton" style="text-align: center;" class="btn btn-success">저장</button>
        </div>
    </form>
</div>
</body>

<!-- footer -->
<div class="content" style="padding-top: 100px">
    <div th:replace="footer :: footer"></div>
</div>
<script>
    // emp_rank 요소 가져오기
var empRankElement = document.getElementById("emp_rank_select");
var empRankValue = empRankElement.value;
console.log("직급:", empRankValue);

// salary 요소 가져오기
var salaryElement = document.getElementById("salary");
var salaryValue = salaryElement.value;
console.log("호봉:", salaryValue);

</script>
</html>
