<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>norisystem HRM</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<footer class="footer mt-auto py-3 bg-light">
    <a class="text-muted">©norisystem Corp.</a><br>
    <a th:href="@{http://www.norisystem.co.kr/}" target="_blank">Main Home / </a>
    <a th:href="@{https://gw.norisystem.co.kr/ngw/app/#/}" target="_blank">GroupWare</a>
</footer>
</html>