<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>norisystem HRM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/main.css?after}" />
  <!-- <script src="js/test.js" th:href="@{/js/test.js?after}"></script> -->
</head>
<body>
        <!-- 투입인력정보 -->
        <div class="row" style="">
            <div class="container">
                <h5 style="font-weight: bold;">투입인력정보</h5>
                <table class="table table-bordered table-hover" style="text-align: center;">
                    <thead class="input-block">
                        <tr>
                            <th>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="font-weight: bold;">+</button>
                                    <button type="button" class="btn btn-danger" id="removeSelectedSawon" style="font-weight: bold;">-</button>
                                </div>
                            </th>
                            <th>사번</th>
                            <th>성명</th>
                            <th>사업부</th>
                            <th>그룹명</th>
                            <th>직급</th>
                            <th>휴대전화</th>
                            <th>이메일</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_sawon">
                        <!-- 테이블 행 추가되는 부분 -->
                    </tbody>
                </table>
            </div>
            <!-- 모달 -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- 모달 내용 -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">사원 선택</h4>
                        </div>
                        <div class="modal-body">
                            <label for="deptFilter">부서 선택:</label>
                            <select id="deptFilter" class="form-control">
                                <option value="">전체</option> <!-- 전체 옵션 추가 -->
                                <!-- 여기에 각 부서별 옵션을 추가하기 위한 JavaScript 코드가 들어갈 예정 -->
                            </select>
                            <br>
                            <input type="text" id="searchInput" class="form-control" placeholder="검색...">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="selectAll"></th>
                                        <th>사번</th>
                                        <th>성명</th>
                                        <th>사업부</th>
                                        <th>그룹명</th>
                                        <th>직급</th>
                                        <th>휴대전화</th>
                                        <th>이메일</th>
                                    </tr>
                                </thead>
                                <tbody id="employeeList">
                                    <!-- 여기에 사원 목록이 들어갈 부분 -->
                                    <tr th:each="employee : ${employees}">
                                        <td><input type="checkbox"></td>
                                        <td th:text="${employee.emp_num}"></td>
                                        <td th:text="${employee.name_kor}"></td>
                                        <td th:text="${employee.dept_biz}"></td>
                                        <td th:text="${employee.dept_group}"></td>
                                        <td th:text="${employee.emp_rank}"></td>
                                        <td th:text="${employee.phone}"></td>
                                        <td th:text="${employee.mail}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- 페이징 컨트롤 -->
                            <ul class="pagination" id="pageContent">
                                <!-- 페이징 링크가 여기에 동적으로 추가될 것입니다. -->
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="addSelected">선택 추가</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script type="text/javascript">
var addedEmployees = [];

/////////////////////////////////////담당자 모달창///////////////////////////////////////////////
$(document).ready(function(){
var employees_pmmanager = /*[[${employees}]]*/ [];
var selectedEmployeeData_pmmanager = {}; // 선택된 사원 데이터를 저장할 객체

$("#searchInput_pmamanager").on("keyup", function() {
var value = $(this).val().toLowerCase();
$("#employeeList_pmmanager tr").filter(function() {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});

$("#pm_nori_manager_Modal").on("show.bs.modal", function(){
// 사원 목록을 순회하면서 클릭 이벤트를 바인딩합니다.
$("#employeeList_pmmanager tr").each(function(){
var row_pmmanager = $(this);

row_pmmanager.off("click"); // 기존 이벤트 핸들러 제거
row_pmmanager.on("click", function(){
// 현재 선택된 행을 강조 표시하기 위해 이전에 선택된 행의 강조 표시를 제거합니다.
$("#employeeList_pmmanager tr.selected").removeClass("selected");
row_pmmanager.addClass("selected"); // 현재 행에 선택 클래스 추가

// 클릭한 행에서 각 셀의 정보 가져오기
var columns_pm = row_pmmanager.find("td");
var name_pm = columns_pm.eq(2).text(); // 담당자 이름
var dept_pm = columns_pm.eq(3).text(); // 부서

// 선택된 사원 데이터를 selectedEmployeeData_pmmanager 변수에 저장
selectedEmployeeData_pmmanager.name = name_pm; // 담당자 이름 저장
selectedEmployeeData_pmmanager.dept = dept_pm; // 부서 저장

// 가져온 사원 정보를 입력란에 표시
$("#pm_nori_manager").val(selectedEmployeeData_pmmanager.name); // 담당자 이름
$("#pm_nori_bu").val(selectedEmployeeData_pmmanager.dept); // 부서

// 모달을 닫음
$("#pm_nori_manager_Modal").modal("hide");
});
});
});

// 모달이 닫힐 때 선택된 행의 강조 표시를 제거하지만 입력된 데이터는 초기화하지 않습니다.
$("#pm_nori_manager_Modal").on("hidden.bs.modal", function(){
$("#employeeList_pmmanager tr.selected").removeClass("selected");
// 입력된 데이터 초기화를 하지 않습니다.
});
});

/////////////////////////////////////투입인력정보 모달창///////////////////////////////////////////////
$(document).ready(function(){
//부서 정보 추출
var deptOptions = {};
$("#employeeList tr").each(function(){
var dept = $(this).find("td:eq(3)").text(); // 부서 정보 추출
deptOptions[dept] = true; // 중복 제거를 위해 객체의 속성으로 저장
});

//부서 필터 select 요소에 옵션 추가
var deptFilter = $("#deptFilter");
for (var dept in deptOptions) {
if (deptOptions.hasOwnProperty(dept)) {
$("<option>").val(dept).text(dept).appendTo(deptFilter);
}
}


//필터링 옵션 변경
$('#deptFilter').change(function() {
var selectedDept = $(this).val();
if (selectedDept !== '') {
$("#employeeList tr").each(function() {
var dept = $(this).find("td:eq(3)").text(); // 각 행의 부서 정보 추출
if (dept !== selectedDept) {
$(this).hide(); // 선택된 부서가 아닌 행 숨기기
} else {
$(this).show(); // 선택된 부서와 일치하는 행 표시
}
});
} else {
$("#employeeList tr").show(); // 전체를 선택한 경우 모든 행 표시
}
});

/////////////////////////시작일 완료일 개월수계산
//시작일과 완료일 입력란의 변경 이벤트를 감지하여 기간을 자동으로 계산 (월 단위)
$("#pm_start_date, #pm_end_date").on("change", function() {
var startDate = new Date($("#pm_start_date").val()); // 시작일
var endDate = new Date($("#pm_end_date").val()); // 완료일

// 시작일과 완료일이 모두 유효한 경우에만 기간을 계산하고 입력란에 표시
if (!isNaN(startDate.getTime()) && !isNaN(endDate.getTime())) {
var diffMonths = (endDate.getFullYear() - startDate.getFullYear()) * 12;
diffMonths -= startDate.getMonth();
diffMonths += endDate.getMonth();

// 기간 입력란에 계산된 기간을 표시
$("#pm_work_date").val(diffMonths);
} else {
// 시작일 또는 완료일이 유효하지 않은 경우 기간 입력란을 비움
$("#pm_work_date").val("");
}
});
});
/////////////////////////////////////엑셀파일 추가///////////////////////////////////////////////////
$(document).ready(function(){
// + 버튼에 이벤트 처리 함수 연결
$("#addExcelRowButton").click(function() {
addTableRowExel('myTable_excel', 'tableSelect_excel');
});

// - 버튼에 이벤트 처리 함수 연결
$("#deleteExcelRowButton").click(function() {
deleteTableRowExel('myTable_excel');
});

//엑셀파일 +/-
function addTableRowExel(tableID, radioGroupName) {
console.log("addTableRowExel 실행됨")
var table_excel = document.getElementById(tableID);

// 새로운 행 생성
var newRow_excel = table_excel.insertRow();

// 첫 번째 셀에 라디오 버튼 추가
var cell1_excel = newRow_excel.insertCell(0);
var radioInput = document.createElement("input");
radioInput.type = "radio";
radioInput.name = radioGroupName;
cell1_excel.appendChild(radioInput);

// 두 번째 셀에 파일 선택 input 추가
var cell2_excel = newRow_excel.insertCell(1);
var fileInput_excel = document.createElement("input");
fileInput_excel.type = "file";
fileInput_excel.className = "form-control-file";
cell2_excel.appendChild(fileInput_excel);
}

//엑셀 테이블 행 삭제 함수
function deleteTableRowExel(tableID) {
var table_excel = document.getElementById(tableID);
var rowCount_excel = table_excel.rows.length;

// 테이블의 각 행을 확인하여 체크된 라디오 버튼이 있는지 검사하고 삭제
for (var i = 0; i < rowCount_excel; i++) {
var row_excel = table_excel.rows[i];
var radioInput = row_excel.cells[0].querySelector("input[type='radio']");
if (radioInput.checked) {
table_excel.deleteRow(i);
rowCount_excel--;
i--;
}
}
}
});


/////////////////////////////////////투입인력정보 모달창///////////////////////////////////////////////
$(document).ready(function(){
var employees = /*[[${employees}]]*/ []; // 타임리프를 통해 employees 데이터를 가져옴
var select = document.getElementById("deptSelect");
var deptSet = new Set(); // 중복을 제거하기 위한 Set 생성

$("#searchInput").on("keyup", function() {
var value = $(this).val().toLowerCase();
$("#employeeList tr").filter(function() {
$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
});
});
// employees 리스트를 순회하며 dept_biz 값 추출하여 Set에 추가
employees.forEach(function(employee) {
deptSet.add(employee.dept_biz);
});

// Set에서 값을 꺼내어 option 요소 생성
deptSet.forEach(function(dept) {
var option = document.createElement("option");
option.value = dept;
option.text = dept;
select.appendChild(option);
});

// 이미 추가된 사원들의 사번을 기억하는 배열
var addedEmployeeIds = [];

// 선택한 사원을 추가하는 함수
function addSelectedEmployees() {
var selectedEmployees = [];
var duplicateDetected = false;

// 기존에 추가된 사원들의 사번을 배열에 추가합니다.
$("#myTable_sawon tbody tr").each(function(){
var employeeId = $(this).find("td:eq(1)").text(); // 사번 가져오기
addedEmployeeIds.push(employeeId);
});

$("#employeeList input[type='checkbox']:checked").each(function(){
var row = $(this).closest("tr");
var columns = row.find("td");
var employeeData = [];
columns.each(function(){
employeeData.push($(this).text());
});

var id = employeeData[1]; // 사번을 기준으로 중복 여부 확인
if (addedEmployeeIds.includes(id)) {
duplicateDetected = true;
} else {
selectedEmployees.push(employeeData);
}
});

// 테이블에 선택한 사원들을 추가합니다.
var table = $("#myTable_sawon");
$.each(selectedEmployees, function(index, value){
var newRow = $("<tr>");
// 첫 번째 셀에만 체크박스 추가
$("<td>").html("<input type='checkbox' class='employee-checkbox'>").appendTo(newRow);
$.each(value.slice(1), function(i, val){
// 나머지 셀 추가
$("<td>").html(val).appendTo(newRow);
});
newRow.appendTo(table);
addedEmployeeIds.push(value[1]); // 사번을 addedEmployeeIds 배열에 추가
console.log("addedEmployeeIds = "+addedEmployeeIds)
});

// 모달을 닫습니다.
$("#myModal").modal("hide");
}

// '선택 추가' 버튼 클릭 시 선택된 사원을 테이블에 추가합니다.
$("#addSelected").click(function(){
addSelectedEmployees();
});

// 필터로 걸러진 사원만 전체 선택
$('#selectAll').change(function() {
var isChecked = $(this).prop('checked');
$('#employeeList tr:visible input[type="checkbox"]').prop('checked', isChecked);
});

// removeSelectedSawon 버튼 클릭 시 선택된 사원 삭제
$("#removeSelectedSawon").click(function(){
$("#myTable_sawon input[type='checkbox']:checked").each(function(){
var row = $(this).closest("tr");
var id = row.find("td:eq(1)").text(); // 사번을 기준으로 삭제
// 삭제 함수 호출
removeAddedEmployee(id);
// 행 삭제
row.remove();
});
});

// 추가된 사원 삭제 함수
function removeAddedEmployee(employeeId) {
// addedEmployees 배열에서 해당 사원의 인덱스를 찾습니다.
var index = addedEmployees.indexOf(employeeId);
if (index !== -1) {
// 배열에서 해당 인덱스의 요소를 제거합니다.
addedEmployees.splice(index, 1);
}
}


// select 박스 선택시 미리보기 안보이게
$('select').on('mousedown', function() {
$(this).siblings('.placeholder').css('display', 'none');
});

// 저장 버튼에 이벤트 처리 함수 연결
$("#saveButton").click(function() {
saveDataToServer();
});

// 저장 함수 정의
function saveDataToServer() {
// FormData 생성
var formData = new FormData();

// 과제 정보 수집
formData.append('pm_code', $('#pm_code').val());
formData.append('pm_name', $('#pm_name').val());
formData.append('pm_nori_manager', $('#pm_nori_manager').val());
formData.append('pm_nori_bu', $('#pm_nori_bu').val());
formData.append('pm_create_date', $('#pm_create_date').val());
formData.append('pm_manager', $('#pm_manager').val());
formData.append('pm_bu', $('#pm_bu').val());
formData.append('pm_business', $('#pm_business').val());
formData.append('pm_price', $('#pm_price').val());
formData.append('pm_workload', $('#pm_workload').val());
formData.append('pm_full', $('#pm_full').val());
formData.append('pm_part', $('#pm_part').val());
formData.append('pm_suggest_date', $('#pm_suggest_date').val());
formData.append('pm_start_date', $('#pm_start_date').val());
formData.append('pm_end_date', $('#pm_end_date').val());
formData.append('pm_work_date', $('#pm_work_date').val());
formData.append('pm_status', $('#pm_status').val());
formData.append('pm_outline', $('#pm_outline').val());
formData.append('pm_bego', $('#pm_bego').val());
formData.append('comment', $('#comment').val());

// 투입인력 정보 수집
// 추가한 사원들의 사번을 formData에 추가
console.log("add 시 addedEmployeeIds : "+addedEmployeeIds)
addedEmployeeIds.forEach(function(employeeId) {
formData.append('addedEmployeeIds', employeeId);
});

// 파일 업로드 처리
var fileInputs = document.getElementById('pm_file').files;
if (fileInputs.length > 0) {
for (var i = 0; i < fileInputs.length; i++) {
formData.append('pm_file', fileInputs[i]);
}
}

// Ajax를 이용하여 서버로 데이터 전송
$.ajax({
url: '/updateTask', // 수정된 부분
type: 'POST',
data: formData,
processData: false,
contentType: false,
success: function(response) {
// 성공적으로 저장되었을 때의 동작
console.log('데이터가 성공적으로 서버에 전송되었습니다.');
},
error: function(xhr, status, error) {
// 에러 발생 시의 동작
console.error('데이터 전송 중 오류가 발생했습니다:', error);
}
});
}

});

</script>
</body>
</html>
