<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>norisystem HRM</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/session.js" th:href="@{js/session.js}" ></script>
  <link rel="stylesheet" th:href="@{/css/board.css?after}" />
  <!-- 
  <script src="js/test2.js" th:src="@{js/test2.js}"></script>
   -->
   <script>
   function addTableRow(tableID, radioGroupName) {
	    var table = document.getElementById(tableID);

	    // 테이블이 존재하는지 확인
	    if (table && table.rows.length > 0 && table.rows[0].cells.length > 0) {
	        var rowCount = table.rows.length;
	        var row = table.insertRow(rowCount);
	    
	        var cell1 = row.insertCell(0);
	        var element1 = document.createElement("input");
	        element1.type = "radio";
	        element1.name = radioGroupName;
	        cell1.appendChild(element1);
	    
	        // 각 열에 적합한 input 요소를 생성하여 삽입
	        for (var i = 1; i < table.rows[0].cells.length; i++) {
	            var cell = row.insertCell(i);
	            var element = document.createElement("input");

	            // 해당 열의 첫 번째 셀의 input 요소의 type을 확인하여 타입을 설정
	            var firstCellInputType = table.rows[0].cells[i].querySelector("input").type;
	            if (firstCellInputType === "date") {
	                // type이 date인 경우
	                element.type = "date";
	            } else {
	                // 그 외의 경우 (type이 text인 경우 등)
	                element.type = "text";
	            }

	            element.className = "form-control";
	            cell.appendChild(element);
	        }
	    } else {
	        console.error("Table with ID '" + tableID + "' not found or has no rows or cells.");
	    }
	}
   function deleteTableRow(tableID) {
	    try {
	        var table = document.getElementById(tableID);
	        var rowCount = table.rows.length;

	        for (var i = 0; i < rowCount; i++) {
	            var row = table.rows[i];
	            var chkbox = row.cells[0].childNodes[0];
	            if (chkbox.checked) {
	                table.deleteRow(i);
	                rowCount--;
	                i--;
	            }
	        }
	    } catch (e) {
	        alert(e);
	    }
	}
</script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<!-- -------------------------------------상단 네비게이션 바------------------------------------- -->
<div th:insert="~{navigation :: navbar}" class="navbar navbar-fixed-top"></div>
<!-- -------------------------------------main 부분------------------------------------- -->
<div class="container" style="padding-top: 50px; padding-bottom: 50px; width: 1400px;">
    <form th:action="@{/employee/add}" method="post" enctype="multipart/form-data">
        <!-- -------------------------------------경력------------------------------------- -->
		<!-- -------------------------------------스크롤------------------------------------- -->
        <br><div class="row"></div>
        <div class="row" style="padding-bottom: 20px;">
            <hr />
            <div class="col-md-2 text-right">
                <span style="font-weight: bold;font-size: large;">경력&nbsp;&nbsp;&nbsp;</span> 
                <button type="button" class="btn btn-primary btn-sm" onclick="addTableRow('myTable_car', 'tableSelect_car')" 
                style="font-weight: bold;">+</button>
                <button type="button" class="btn btn-danger btn-sm" onclick="deleteTableRow('myTable_car')"
                style="font-weight: bold;">−</button>
            </div>
            <div class="col-md-10">
                <table class="table table-bordered table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th style="width: 40px;"></th>
                            <th>회사</th>
                            <th>부서</th>
                            <th>입사일</th>
                            <th>퇴사일</th>
                            <th>근속기간</th>
							<th>최종직급</th>
							<th>업무내용</th>
                        </tr>
                    </thead>
                    <tbody id="myTable_car">
                        <tr>
                            <td><input type="radio" name="tableSelect_car" value="myTable_car" style="vertical-align: middle;"></td>
                            <td><input type="text" class="form-control" name="company" id="company"></td>
                            <td><input type="text" class="form-control" name="department" id="department"></td>
                            <td><input type="date" class="form-control" name="date_join" id="date_join"></td>
                            <td><input type="date" class="form-control" name="date_leave" id="date_leave"></td>
                            <td><input type="text" class="form-control" name="work_period" id="work_period" placeholder="개월"></td>
							<td><input type="text" class="form-control" name="final_rank" id="final_rank"></td>
							<td><input type="text" class="form-control" name="work_info" id="work_info"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <button th:href="@{/main}" id="saveButton" style="text-align: center;" class="btn btn-success">저장</button>
        </div>
    </form>
</div>
</body>
<!-- footer -->
<div class="content" style="padding-top: 100px">
    <div th:replace="footer :: footer"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    // 각 입력 필드에 입력할 때마다 이벤트를 연결합니다.
    $('#myTable_car tbody').on('input', 'input', function() {
        showTableData();
    });
});

// 입력된 데이터를 콘솔에 출력하는 함수
function showTableData() {
    var tableData = [];
    $('#myTable_car tbody tr').each(function() {
        var rowData = {
            company: $(this).find('input:eq(1)').val(),
            department: $(this).find('input:eq(2)').val(),
            date_join: $(this).find('input:eq(3)').val(),
            date_leave: $(this).find('input:eq(4)').val(),
            work_period: $(this).find('input:eq(5)').val(),
            final_rank: $(this).find('input:eq(6)').val(),
            work_info: $(this).find('input:eq(7)').val()
        };
        tableData.push(rowData);
    });
    console.log("현재 입력된 데이터:", tableData);
}
</script>

</html>
